In [58]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import warnings
import datetime
import geopandas as gpd
import folium
import time
import my_code
warnings.filterwarnings('ignore')
from scipy.stats.stats import pearsonr 
import seaborn as sns

data = pd.read_csv('/Users/alket/Desktop/dati/new_data2_Modena_backfill_forwfill.csv',index_col = 0)
data

                date  cell_num  nr_people  hours  minutes
0         2017-04-16  389-1015      361.0    0.0      0.0
1353      2017-04-16  389-1015      367.0    0.0     15.0
2706      2017-04-16  389-1015      359.0    0.0     30.0
4059      2017-04-16  389-1015      354.0    0.0     45.0
5412      2017-04-16  389-1015      350.0    1.0      0.0
...              ...       ...        ...    ...      ...
15970811  2017-08-16  421-1055       17.0   22.0     45.0
15972164  2017-08-16  421-1055       17.0   23.0      0.0
15973517  2017-08-16  421-1055       17.0   23.0     15.0
15974870  2017-08-16  421-1055       18.0   23.0     30.0
15976223  2017-08-16  421-1055       18.0   23.0     45.0

[15976224 rows x 5 columns]

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15976224 entries, 0 to 15976223
Data columns (total 5 columns):
date         object
cell_num     object
nr_people    float64
hours        float64
minutes      float64
dtypes: float64(3), object(2)
memory usage: 731.3+ MB

In [59]:
agg_by_cell = data.groupby(['cell_num'])
counter = 0
for i, k in agg_by_cell: 
    print(i, k)
    counter += 1
    if counter > 1 : break

389-1015                 date  cell_num  nr_people  hours  minutes
0         2017-04-16  389-1015      361.0    0.0      0.0
1353      2017-04-16  389-1015      367.0    0.0     15.0
2706      2017-04-16  389-1015      359.0    0.0     30.0
4059      2017-04-16  389-1015      354.0    0.0     45.0
5412      2017-04-16  389-1015      350.0    1.0      0.0
...              ...       ...        ...    ...      ...
15969459  2017-08-16  389-1015      269.0   22.0     45.0
15970812  2017-08-16  389-1015      268.0   23.0      0.0
15972165  2017-08-16  389-1015      271.0   23.0     15.0
15973518  2017-08-16  389-1015      266.0   23.0     30.0
15974871  2017-08-16  389-1015      266.0   23.0     45.0

[11808 rows x 5 columns]
389-1016                 date  cell_num  nr_people  hours  minutes
1         2017-04-16  389-1016      188.0    0.0      0.0
1354      2017-04-16  389-1016      191.0    0.0     15.0
2707      2017-04-16  389-1016      186.0    0.0     30.0
4060      2017-04-16  389-1016      185.0    0.0     45.0
5413      2017-04-16  389-1016      182.0    1.0      0.0
...              ...       ...        ...    ...      ...
15969460  2017-08-16  389-1016      141.0   22.0     45.0
15970813  2017-08-16  389-1016      140.0   23.0      0.0
15972166  2017-08-16  389-1016      141.0   23.0     15.0
15973519  2017-08-16  389-1016      138.0   23.0     30.0
15974872  2017-08-16  389-1016      138.0   23.0     45.0

[11808 rows x 5 columns]

In [60]:
def get_corr_adiacent_cells(cell, index):
    counter = 0
    adiacent_cells = []
    s = cell.split('-')
    row = int(s[0])
    col = int(s[1])
    rowup = row+index
    rowdown = row-index
    coldes = col+index
    colsin = col-index
    cell1 = str(row)+'-'+str(coldes)
    cell2 = str(row)+'-'+str(colsin)
    cell3 = str(rowup)+'-'+str(col)
    cell4 = str(rowdown)+'-'+str(col)
    
    cell5 = str(rowup)+'-'+str(coldes)
    cell6 = str(rowup)+'-'+str(colsin)
    cell7 = str(rowdown)+'-'+str(coldes)
    cell8 = str(rowdown)+'-'+str(colsin)
    adiacent_cells.extend([cell1, cell2, cell3, cell4, cell5, cell6, cell7, cell8])
        
    return adiacent_cells

In [61]:
def crosscorr(datax, datay, lag=0):
    """ Lag-N cross correlation. 
    Parameters
    ----------
    lag : int, default 0
    datax, datay : pandas.Series objects of equal length

    Returns
    ----------
    crosscorr : float
    """
    return datax.corr(datay.shift(lag))

mylist = pd.Series([1, 2, 3, 4, 5, 6, 7])
mylist2 = pd.Series([1, 2, 3, 4, 5, 6, 7])
crosscorr(mylist, mylist2, lag = 2)
type(mylist2)

pandas.core.series.Series

In [79]:
cell1 = agg_by_cell.get_group('400-1035')
cell2 = agg_by_cell.get_group('400-1036')

cell3 = agg_by_cell.get_group('403-1036')
cell4 = agg_by_cell.get_group('406-1031')
cell5 = agg_by_cell.get_group('409-1041')

cell1_series = cell1['nr_people'].values
cell2_series = cell2['nr_people'].values
cell3_series = cell3['nr_people'].values
cell4_series = cell4['nr_people'].values
cell5_series = cell5['nr_people'].values

ls = [cell1_series, cell2_series, cell3_series, cell4_series, cell5_series]
corr = np.corrcoef(ls)
corr[0]

array([1.        , 0.99819136, 0.88760344, 0.69595579, 0.77194584])

In [16]:
cells2be_correlated = ['400-1035', '400-1036', '400-1037', '400-1028', '400-1029', '400-1032',
                       '401-1035', '401-1038', '401-1041', '401-1033', '401-1029', '401-1032',
                       '402-1043', '402-1039', '402-1033', '402-1035', '402-1037', '402-1031',
                       '403-1043', '403-1031', '403-1034', '403-1036', '403-1037', '403-1039',
                       '404-1036', '404-1037', '404-1038', '404-1040', '404-1042', '404-1035',
                       '409-1036', '409-1037', '409-1038', '409-1040', '409-1042', '409-1035',
                       '408-1036', '408-1037', '408-1038', '408-1040', '408-1042', '408-1035',
                       '407-1035', '407-1037', '407-1039', '407-1041', '407-1042', '407-1036',
                       '405-1031', '405-1032', '405-1034', '405-1036', '405-1038', '405-1042',
                       '406-1034', '406-1031', '406-1033', '406-1035', '406-1039', '406-1040']

In [42]:
data2dict = {}
for num in range(5):
    num = num+1
    corrlist = []
    for cell2c in cells2be_correlated:
        
        adiacent_cells = get_corr_adiacent_cells(cell2c, num)
        print(adiacent_cells)
        my_cell = agg_by_cell.get_group(cell2c)
        my_cell_ts = my_cell['nr_people']
        print(type(my_cell_ts))
        print(my_cell_ts[:10])
        for i in adiacent_cells: 
            cell_i = agg_by_cell.get_group(i)
            
            #print(cell_i[:10])
            pc = crosscorr(my_cell['nr_people'],cell_i['nr_people'] , num)
            print(pc)
            corrlist.append(pc)
            
    print(num , np.mean(np.array(corrlist)))
    data2dict[num] = np.mean(np.array(corrlist))

['400-1036', '400-1034', '401-1035', '399-1035', '401-1036', '401-1034', '399-1036', '399-1034']
<class 'pandas.core.series.Series'>
471      707.0
1824     704.0
3177     696.0
4530     679.0
5883     668.0
7236     631.0
8589     612.0
9942     601.0
11295    592.0
12648    571.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1037', '400-1035', '401-1036', '399-1036', '401-1037', '401-1035', '399-1037', '399-1035']
<class 'pandas.core.series.Series'>
472      938.0
1825     934.0
3178     923.0
4531     901.0
5884     887.0
7237     837.0
8590     813.0
9943     797.0
11296    784.0
12649    756.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1038', '400-1036', '401-1037', '399-1037', '401-1038', '401-1036', '399-1038', '399-1036']
<class 'pandas.core.series.Series'>
473      1120.0
1826     1119.0
3179     1093.0
4532     1095.0
5885     1086.0
7238     1072.0
8591     1064.0
9944     1052.0
11297    1043.0
12650    1044.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1029', '400-1027', '401-1028', '399-1028', '401-1029', '401-1027', '399-1029', '399-1027']
<class 'pandas.core.series.Series'>
464      382.0
1817     386.0
3170     388.0
4523     387.0
5876     389.0
7229     388.0
8582     388.0
9935     389.0
11288    390.0
12641    391.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1030', '400-1028', '401-1029', '399-1029', '401-1030', '401-1028', '399-1030', '399-1028']
<class 'pandas.core.series.Series'>
465      320.0
1818     324.0
3171     325.0
4524     324.0
5877     326.0
7230     325.0
8583     326.0
9936     326.0
11289    327.0
12642    328.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1033', '400-1031', '401-1032', '399-1032', '401-1033', '401-1031', '399-1033', '399-1031']
<class 'pandas.core.series.Series'>
468      570.0
1821     577.0
3174     579.0
4527     576.0
5880     569.0
7233     546.0
8586     539.0
9939     534.0
11292    531.0
12645    523.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1036', '401-1034', '402-1035', '400-1035', '402-1036', '402-1034', '400-1036', '400-1034']
<class 'pandas.core.series.Series'>
512      549.0
1865     550.0
3218     542.0
4571     530.0
5924     521.0
7277     494.0
8630     478.0
9983     469.0
11336    466.0
12689    450.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1039', '401-1037', '402-1038', '400-1038', '402-1039', '402-1037', '400-1039', '400-1037']
<class 'pandas.core.series.Series'>
515      933.0
1868     936.0
3221     918.0
4574     920.0
5927     907.0
7280     886.0
8633     873.0
9986     861.0
11339    857.0
12692    856.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1042', '401-1040', '402-1041', '400-1041', '402-1042', '402-1040', '400-1042', '400-1040']
<class 'pandas.core.series.Series'>
518      521.0
1871     518.0
3224     513.0
4577     504.0
5930     501.0
7283     500.0
8636     497.0
9989     492.0
11342    488.0
12695    483.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1034', '401-1032', '402-1033', '400-1033', '402-1034', '402-1032', '400-1034', '400-1032']
<class 'pandas.core.series.Series'>
510      687.0
1863     689.0
3216     686.0
4569     677.0
5922     669.0
7275     642.0
8628     626.0
9981     618.0
11334    614.0
12687    599.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1030', '401-1028', '402-1029', '400-1029', '402-1030', '402-1028', '400-1030', '400-1028']
<class 'pandas.core.series.Series'>
506      544.0
1859     549.0
3212     548.0
4565     548.0
5918     548.0
7271     551.0
8624     553.0
9977     554.0
11330    557.0
12683    557.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1033', '401-1031', '402-1032', '400-1032', '402-1033', '402-1031', '400-1033', '400-1031']
<class 'pandas.core.series.Series'>
509      518.0
1862     523.0
3215     526.0
4568     526.0
5921     520.0
7274     501.0
8627     494.0
9980     489.0
11333    484.0
12686    478.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1044', '402-1042', '403-1043', '401-1043', '403-1044', '403-1042', '401-1044', '401-1042']
<class 'pandas.core.series.Series'>
561      656.0
1914     652.0
3267     645.0
4620     640.0
5973     645.0
7326     634.0
8679     632.0
10032    630.0
11385    632.0
12738    626.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1040', '402-1038', '403-1039', '401-1039', '403-1040', '403-1038', '401-1040', '401-1038']
<class 'pandas.core.series.Series'>
557      830.0
1910     831.0
3263     822.0
4616     820.0
5969     806.0
7322     786.0
8675     769.0
10028    757.0
11381    756.0
12734    752.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1034', '402-1032', '403-1033', '401-1033', '403-1034', '403-1032', '401-1034', '401-1032']
<class 'pandas.core.series.Series'>
551      453.0
1904     457.0
3257     454.0
4610     451.0
5963     444.0
7316     429.0
8669     418.0
10022    412.0
11375    409.0
12728    402.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1036', '402-1034', '403-1035', '401-1035', '403-1036', '403-1034', '401-1036', '401-1034']
<class 'pandas.core.series.Series'>
553      643.0
1906     649.0
3259     640.0
4612     637.0
5965     625.0
7318     599.0
8671     583.0
10024    574.0
11377    569.0
12730    558.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1038', '402-1036', '403-1037', '401-1037', '403-1038', '403-1036', '401-1038', '401-1036']
<class 'pandas.core.series.Series'>
555      696.0
1908     699.0
3261     687.0
4614     689.0
5967     676.0
7320     654.0
8673     640.0
10026    630.0
11379    625.0
12732    620.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1032', '402-1030', '403-1031', '401-1031', '403-1032', '403-1030', '401-1032', '401-1030']
<class 'pandas.core.series.Series'>
549      634.0
1902     638.0
3255     638.0
4608     638.0
5961     640.0
7314     647.0
8667     651.0
10020    652.0
11373    653.0
12726    655.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1044', '403-1042', '404-1043', '402-1043', '404-1044', '404-1042', '402-1044', '402-1042']
<class 'pandas.core.series.Series'>
602      632.0
1955     630.0
3308     625.0
4661     623.0
6014     629.0
7367     619.0
8720     617.0
10073    616.0
11426    615.0
12779    609.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1032', '403-1030', '404-1031', '402-1031', '404-1032', '404-1030', '402-1032', '402-1030']
<class 'pandas.core.series.Series'>
590      569.0
1943     572.0
3296     570.0
4649     571.0
6002     571.0
7355     579.0
8708     585.0
10061    585.0
11414    586.0
12767    588.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1035', '403-1033', '404-1034', '402-1034', '404-1035', '404-1033', '402-1035', '402-1033']
<class 'pandas.core.series.Series'>
593      456.0
1946     461.0
3299     457.0
4652     457.0
6005     449.0
7358     436.0
8711     426.0
10064    420.0
11417    417.0
12770    411.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1037', '403-1035', '404-1036', '402-1036', '404-1037', '404-1035', '402-1037', '402-1035']
<class 'pandas.core.series.Series'>
595      638.0
1948     642.0
3301     633.0
4654     634.0
6007     622.0
7360     602.0
8713     588.0
10066    580.0
11419    573.0
12772    567.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1038', '403-1036', '404-1037', '402-1037', '404-1038', '404-1036', '402-1038', '402-1036']
<class 'pandas.core.series.Series'>
596      636.0
1949     639.0
3302     633.0
4655     632.0
6008     622.0
7361     607.0
8714     594.0
10067    585.0
11420    582.0
12773    578.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1040', '403-1038', '404-1039', '402-1039', '404-1040', '404-1038', '402-1040', '402-1038']
<class 'pandas.core.series.Series'>
598      870.0
1951     872.0
3304     863.0
4657     863.0
6010     848.0
7363     828.0
8716     810.0
10069    798.0
11422    795.0
12775    789.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1037', '404-1035', '405-1036', '403-1036', '405-1037', '405-1035', '403-1037', '403-1035']
<class 'pandas.core.series.Series'>
636      875.0
1989     881.0
3342     874.0
4695     876.0
6048     862.0
7401     835.0
8754     819.0
10107    807.0
11460    799.0
12813    790.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1038', '404-1036', '405-1037', '403-1037', '405-1038', '405-1036', '403-1038', '403-1036']
<class 'pandas.core.series.Series'>
637      1017.0
1990     1022.0
3343     1015.0
4696     1016.0
6049     1000.0
7402      971.0
8755      952.0
10108     937.0
11461     929.0
12814     919.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1039', '404-1037', '405-1038', '403-1038', '405-1039', '405-1037', '403-1039', '403-1037']
<class 'pandas.core.series.Series'>
638      641.0
1991     645.0
3344     639.0
4697     639.0
6050     628.0
7403     610.0
8756     596.0
10109    586.0
11462    582.0
12815    576.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1041', '404-1039', '405-1040', '403-1040', '405-1041', '405-1039', '403-1041', '403-1039']
<class 'pandas.core.series.Series'>
640      518.0
1993     518.0
3346     516.0
4699     517.0
6052     507.0
7405     489.0
8758     475.0
10111    467.0
11464    462.0
12817    454.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1043', '404-1041', '405-1042', '403-1042', '405-1043', '405-1041', '403-1043', '403-1041']
<class 'pandas.core.series.Series'>
642      645.0
1995     640.0
3348     637.0
4701     639.0
6054     637.0
7407     633.0
8760     631.0
10113    629.0
11466    627.0
12819    623.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1036', '404-1034', '405-1035', '403-1035', '405-1036', '405-1034', '403-1036', '403-1034']
<class 'pandas.core.series.Series'>
635      446.0
1988     450.0
3341     446.0
4694     446.0
6047     438.0
7400     424.0
8753     415.0
10106    410.0
11459    407.0
12812    401.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1037', '409-1035', '410-1036', '408-1036', '410-1037', '410-1035', '408-1037', '408-1035']
<class 'pandas.core.series.Series'>
841      513.0
2194     509.0
3547     513.0
4900     510.0
6253     513.0
7606     520.0
8959     524.0
10312    527.0
11665    528.0
13018    530.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1038', '409-1036', '410-1037', '408-1037', '410-1038', '410-1036', '408-1038', '408-1036']
<class 'pandas.core.series.Series'>
842      390.0
2195     387.0
3548     391.0
4901     388.0
6254     391.0
7607     396.0
8960     399.0
10313    401.0
11666    402.0
13019    404.0
Name: nr_people, dtype: float64
nan

nan
nan
nan
nan
nan
nan
nan
['409-1039', '409-1037', '410-1038', '408-1038', '410-1039', '410-1037', '408-1039', '408-1037']
<class 'pandas.core.series.Series'>
843      402.0
2196     397.0
3549     397.0
4902     398.0
6255     397.0
7608     403.0
8961     401.0
10314    404.0
11667    408.0
13020    411.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1041', '409-1039', '410-1040', '408-1040', '410-1041', '410-1039', '408-1041', '408-1039']
<class 'pandas.core.series.Series'>
845      105.0
2198     105.0
3551     105.0
4904     105.0
6257     105.0
7610     108.0
8963     108.0
10316    108.0
11669    111.0
13022    112.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1043', '409-1041', '410-1042', '408-1042', '410-1043', '410-1041', '408-1043', '408-1041']
<class 'pandas.core.series.Series'>
847      174.0
2200     174.0
3553     174.0
4906     175.0
6259     176.0
7612     178.0
8965     178.0
10318    178.0
11671    181.0
13024    182.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1036', '409-1034', '410-1035', '408-1035', '410-1036', '410-1034', '408-1036', '408-1034']
<class 'pandas.core.series.Series'>
840      497.0
2193     494.0
3546     498.0
4899     495.0
6252     498.0
7605     504.0
8958     510.0
10311    512.0
11664    513.0
13017    514.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1037', '408-1035', '409-1036', '407-1036', '409-1037', '409-1035', '407-1037', '407-1035']
<class 'pandas.core.series.Series'>
800      540.0
2153     536.0
3506     541.0
4859     537.0
6212     541.0
7565     548.0
8918     553.0
10271    556.0
11624    557.0
12977    559.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1038', '408-1036', '409-1037', '407-1037', '409-1038', '409-1036', '407-1038', '407-1036']
<class 'pandas.core.series.Series'>
801      499.0
2154     495.0
3507     499.0
4860     498.0
6213     500.0
7566     510.0
8919     511.0
10272    512.0
11625    516.0
12978    518.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1039', '408-1037', '409-1038', '407-1038', '409-1039', '409-1037', '407-1039', '407-1037']
<class 'pandas.core.series.Series'>
802      372.0
2155     369.0
3508     369.0
4861     373.0
6214     373.0
7567     383.0
8920     382.0
10273    383.0
11626    386.0
12979    392.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1041', '408-1039', '409-1040', '407-1040', '409-1041', '409-1039', '407-1041', '407-1039']
<class 'pandas.core.series.Series'>
804      261.0
2157     263.0
3510     261.0
4863     263.0
6216     263.0
7569     272.0
8922     270.0
10275    271.0
11628    277.0
12981    282.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1043', '408-1041', '409-1042', '407-1042', '409-1043', '409-1041', '407-1043', '407-1041']
<class 'pandas.core.series.Series'>
806      411.0
2159     410.0
3512     409.0
4865     411.0
6218     413.0
7571     418.0
8924     416.0
10277    417.0
11630    422.0
12983    426.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1036', '408-1034', '409-1035', '407-1035', '409-1036', '409-1034', '407-1036', '407-1034']
<class 'pandas.core.series.Series'>
799      423.0
2152     422.0
3505     426.0
4858     424.0
6211     428.0
7564     432.0
8917     441.0
10270    442.0
11623    443.0
12976    444.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1036', '407-1034', '408-1035', '406-1035', '408-1036', '408-1034', '406-1036', '406-1034']
<class 'pandas.core.series.Series'>
758      499.0
2111     498.0
3464     503.0
4817     501.0
6170     506.0
7523     510.0
8876     521.0
10229    523.0
11582    523.0
12935    524.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1038', '407-1036', '408-1037', '406-1037', '408-1038', '408-1036', '406-1038', '406-1036']
<class 'pandas.core.series.Series'>
760      493.0
2113     493.0
3466     495.0
4819     497.0
6172     498.0
7525     497.0
8878     495.0
10231    493.0
11584    493.0
12937    493.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1040', '407-1038', '408-1039', '406-1039', '408-1040', '408-1038', '406-1040', '406-1038']
<class 'pandas.core.series.Series'>
762      361.0
2115     360.0
3468     360.0
4821     365.0
6174     366.0
7527     377.0
8880     377.0
10233    378.0
11586    382.0
12939    388.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1042', '407-1040', '408-1041', '406-1041', '408-1042', '408-1040', '406-1042', '406-1040']
<class 'pandas.core.series.Series'>
764      366.0
2117     367.0
3470     366.0
4823     368.0
6176     368.0
7529     374.0
8882     372.0
10235    374.0
11588    376.0
12941    380.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1043', '407-1041', '408-1042', '406-1042', '408-1043', '408-1041', '406-1043', '406-1041']
<class 'pandas.core.series.Series'>
765      422.0
2118     423.0
3471     423.0
4824     425.0
6177     426.0
7530     430.0
8883     426.0
10236    427.0
11589    429.0
12942    431.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1037', '407-1035', '408-1036', '406-1036', '408-1037', '408-1035', '406-1037', '406-1035']
<class 'pandas.core.series.Series'>
759      444.0
2112     443.0
3465     447.0
4818     446.0
6171     450.0
7524     450.0
8877     456.0
10230    456.0
11583    455.0
12936    454.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1032', '405-1030', '406-1031', '404-1031', '406-1032', '406-1030', '404-1032', '404-1030']
<class 'pandas.core.series.Series'>
672      629.0
2025     629.0
3378     629.0
4731     630.0
6084     632.0
7437     638.0
8790     645.0
10143    646.0
11496    646.0
12849    649.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1033', '405-1031', '406-1032', '404-1032', '406-1033', '406-1031', '404-1033', '404-1031']
<class 'pandas.core.series.Series'>
673      666.0
2026     666.0
3379     668.0
4732     669.0
6085     671.0
7438     679.0
8791     688.0
10144    690.0
11497    689.0
12850    692.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1035', '405-1033', '406-1034', '404-1034', '406-1035', '406-1033', '404-1035', '404-1033']
<class 'pandas.core.series.Series'>
675      416.0
2028     415.0
3381     417.0
4734     417.0
6087     418.0
7440     422.0
8793     426.0
10146    426.0
11499    424.0
12852    424.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1037', '405-1035', '406-1036', '404-1036', '406-1037', '406-1035', '404-1037', '404-1035']
<class 'pandas.core.series.Series'>
677      522.0
2030     526.0
3383     524.0
4736     526.0
6089     520.0
7442     504.0
8795     496.0
10148    490.0
11501    485.0
12854    480.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1039', '405-1037', '406-1038', '404-1038', '406-1039', '406-1037', '404-1039', '404-1037']
<class 'pandas.core.series.Series'>
679      454.0
2032     459.0
3385     456.0
4738     457.0
6091     452.0
7444     436.0
8797     428.0
10150    421.0
11503    418.0
12856    413.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1043', '405-1041', '406-1042', '404-1042', '406-1043', '406-1041', '404-1043', '404-1041']
<class 'pandas.core.series.Series'>
683      482.0
2036     480.0
3389     481.0
4742     486.0
6095     483.0
7448     484.0
8801     480.0
10154    478.0
11507    473.0
12860    474.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1035', '406-1033', '407-1034', '405-1034', '407-1035', '407-1033', '405-1035', '405-1033']
<class 'pandas.core.series.Series'>
716      596.0
2069     594.0
3422     599.0
4775     596.0
6128     603.0
7481     608.0
8834     620.0
10187    621.0
11540    621.0
12893    623.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1032', '406-1030', '407-1031', '405-1031', '407-1032', '407-1030', '405-1032', '405-1030']
<class 'pandas.core.series.Series'>
713      532.0
2066     532.0
3419     533.0
4772     534.0
6125     535.0
7478     540.0
8831     546.0
10184    548.0
11537    547.0
12890    549.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1034', '406-1032', '407-1033', '405-1033', '407-1034', '407-1032', '405-1034', '405-1032']
<class 'pandas.core.series.Series'>
715      538.0
2068     536.0
3421     541.0
4774     539.0
6127     543.0
7480     548.0
8833     557.0
10186    559.0
11539    558.0
12892    561.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1036', '406-1034', '407-1035', '405-1035', '407-1036', '407-1034', '405-1036', '405-1034']
<class 'pandas.core.series.Series'>
717      614.0
2070     614.0
3423     619.0
4776     619.0
6129     625.0
7482     623.0
8835     633.0
10188    633.0
11541    632.0
12894    629.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1040', '406-1038', '407-1039', '405-1039', '407-1040', '407-1038', '405-1040', '405-1038']
<class 'pandas.core.series.Series'>
721      422.0
2074     426.0
3427     426.0
4780     431.0
6133     427.0
7486     412.0
8839     404.0
10192    398.0
11545    396.0
12898    390.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1041', '406-1039', '407-1040', '405-1040', '407-1041', '407-1039', '405-1041', '405-1039']
<class 'pandas.core.series.Series'>
722      373.0
2075     375.0
3428     376.0
4781     379.0
6134     372.0
7487     356.0
8840     347.0
10193    342.0
11546    336.0
12899    333.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
1 nan
['400-1037', '400-1033', '402-1035', '398-1035', '402-1037', '402-1033', '398-1037', '398-1033']
<class 'pandas.core.series.Series'>
471      707.0
1824     704.0
3177     696.0
4530     679.0
5883     668.0
7236     631.0
8589     612.0
9942     601.0
11295    592.0
12648    571.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1038', '400-1034', '402-1036', '398-1036', '402-1038', '402-1034', '398-1038', '398-1034']
<class 'pandas.core.series.Series'>
472      938.0
1825     934.0
3178     923.0
4531     901.0
5884     887.0
7237     837.0
8590     813.0
9943     797.0
11296    784.0
12649    756.0
Name: nr_people, dtype: float64
nan
nan

nan
nan
nan
nan
nan
nan
['400-1039', '400-1035', '402-1037', '398-1037', '402-1039', '402-1035', '398-1039', '398-1035']
<class 'pandas.core.series.Series'>
473      1120.0
1826     1119.0
3179     1093.0
4532     1095.0
5885     1086.0
7238     1072.0
8591     1064.0
9944     1052.0
11297    1043.0
12650    1044.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1030', '400-1026', '402-1028', '398-1028', '402-1030', '402-1026', '398-1030', '398-1026']
<class 'pandas.core.series.Series'>
464      382.0
1817     386.0
3170     388.0
4523     387.0
5876     389.0
7229     388.0
8582     388.0
9935     389.0
11288    390.0
12641    391.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1031', '400-1027', '402-1029', '398-1029', '402-1031', '402-1027', '398-1031', '398-1027']
<class 'pandas.core.series.Series'>
465      320.0
1818     324.0
3171     325.0
4524     324.0
5877     326.0
7230     325.0
8583     326.0
9936     326.0
11289    327.0
12642    328.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1034', '400-1030', '402-1032', '398-1032', '402-1034', '402-1030', '398-1034', '398-1030']
<class 'pandas.core.series.Series'>
468      570.0
1821     577.0
3174     579.0
4527     576.0
5880     569.0
7233     546.0
8586     539.0
9939     534.0
11292    531.0
12645    523.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1037', '401-1033', '403-1035', '399-1035', '403-1037', '403-1033', '399-1037', '399-1033']
<class 'pandas.core.series.Series'>
512      549.0
1865     550.0
3218     542.0
4571     530.0
5924     521.0
7277     494.0
8630     478.0
9983     469.0
11336    466.0
12689    450.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1040', '401-1036', '403-1038', '399-1038', '403-1040', '403-1036', '399-1040', '399-1036']
<class 'pandas.core.series.Series'>
515      933.0
1868     936.0
3221     918.0
4574     920.0
5927     907.0
7280     886.0
8633     873.0
9986     861.0
11339    857.0
12692    856.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1043', '401-1039', '403-1041', '399-1041', '403-1043', '403-1039', '399-1043', '399-1039']
<class 'pandas.core.series.Series'>
518      521.0
1871     518.0
3224     513.0
4577     504.0
5930     501.0
7283     500.0
8636     497.0
9989     492.0
11342    488.0
12695    483.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1035', '401-1031', '403-1033', '399-1033', '403-1035', '403-1031', '399-1035', '399-1031']
<class 'pandas.core.series.Series'>
510      687.0
1863     689.0
3216     686.0
4569     677.0
5922     669.0
7275     642.0
8628     626.0
9981     618.0
11334    614.0
12687    599.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1031', '401-1027', '403-1029', '399-1029', '403-1031', '403-1027', '399-1031', '399-1027']
<class 'pandas.core.series.Series'>
506      544.0
1859     549.0
3212     548.0
4565     548.0
5918     548.0
7271     551.0
8624     553.0
9977     554.0
11330    557.0
12683    557.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1034', '401-1030', '403-1032', '399-1032', '403-1034', '403-1030', '399-1034', '399-1030']
<class 'pandas.core.series.Series'>
509      518.0
1862     523.0
3215     526.0
4568     526.0
5921     520.0
7274     501.0
8627     494.0
9980     489.0
11333    484.0
12686    478.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1045', '402-1041', '404-1043', '400-1043', '404-1045', '404-1041', '400-1045', '400-1041']
<class 'pandas.core.series.Series'>
561      656.0
1914     652.0
3267     645.0
4620     640.0
5973     645.0
7326     634.0
8679     632.0
10032    630.0
11385    632.0
12738    626.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1041', '402-1037', '404-1039', '400-1039', '404-1041', '404-1037', '400-1041', '400-1037']
<class 'pandas.core.series.Series'>
557      830.0
1910     831.0
3263     822.0
4616     820.0
5969     806.0
7322     786.0
8675     769.0
10028    757.0
11381    756.0
12734    752.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1035', '402-1031', '404-1033', '400-1033', '404-1035', '404-1031', '400-1035', '400-1031']
<class 'pandas.core.series.Series'>
551      453.0
1904     457.0
3257     454.0
4610     451.0
5963     444.0
7316     429.0
8669     418.0
10022    412.0
11375    409.0
12728    402.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1037', '402-1033', '404-1035', '400-1035', '404-1037', '404-1033', '400-1037', '400-1033']
<class 'pandas.core.series.Series'>
553      643.0
1906     649.0
3259     640.0
4612     637.0
5965     625.0
7318     599.0
8671     583.0
10024    574.0
11377    569.0
12730    558.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1039', '402-1035', '404-1037', '400-1037', '404-1039', '404-1035', '400-1039', '400-1035']
<class 'pandas.core.series.Series'>
555      696.0
1908     699.0
3261     687.0
4614     689.0
5967     676.0
7320     654.0
8673     640.0
10026    630.0
11379    625.0
12732    620.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1033', '402-1029', '404-1031', '400-1031', '404-1033', '404-1029', '400-1033', '400-1029']
<class 'pandas.core.series.Series'>
549      634.0
1902     638.0
3255     638.0
4608     638.0
5961     640.0
7314     647.0
8667     651.0
10020    652.0
11373    653.0
12726    655.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1045', '403-1041', '405-1043', '401-1043', '405-1045', '405-1041', '401-1045', '401-1041']
<class 'pandas.core.series.Series'>
602      632.0
1955     630.0
3308     625.0
4661     623.0
6014     629.0
7367     619.0
8720     617.0
10073    616.0
11426    615.0
12779    609.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1033', '403-1029', '405-1031', '401-1031', '405-1033', '405-1029', '401-1033', '401-1029']
<class 'pandas.core.series.Series'>
590      569.0
1943     572.0
3296     570.0
4649     571.0
6002     571.0
7355     579.0
8708     585.0
10061    585.0
11414    586.0
12767    588.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1036', '403-1032', '405-1034', '401-1034', '405-1036', '405-1032', '401-1036', '401-1032']
<class 'pandas.core.series.Series'>
593      456.0
1946     461.0
3299     457.0
4652     457.0
6005     449.0
7358     436.0
8711     426.0
10064    420.0
11417    417.0
12770    411.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1038', '403-1034', '405-1036', '401-1036', '405-1038', '405-1034', '401-1038', '401-1034']
<class 'pandas.core.series.Series'>
595      638.0
1948     642.0
3301     633.0
4654     634.0
6007     622.0
7360     602.0
8713     588.0
10066    580.0
11419    573.0
12772    567.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1039', '403-1035', '405-1037', '401-1037', '405-1039', '405-1035', '401-1039', '401-1035']
<class 'pandas.core.series.Series'>
596      636.0
1949     639.0
3302     633.0
4655     632.0
6008     622.0
7361     607.0
8714     594.0
10067    585.0
11420    582.0
12773    578.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1041', '403-1037', '405-1039', '401-1039', '405-1041', '405-1037', '401-1041', '401-1037']
<class 'pandas.core.series.Series'>
598      870.0
1951     872.0
3304     863.0
4657     863.0
6010     848.0
7363     828.0
8716     810.0
10069    798.0
11422    795.0
12775    789.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1038', '404-1034', '406-1036', '402-1036', '406-1038', '406-1034', '402-1038', '402-1034']
<class 'pandas.core.series.Series'>
636      875.0
1989     881.0
3342     874.0
4695     876.0
6048     862.0
7401     835.0
8754     819.0
10107    807.0
11460    799.0
12813    790.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1039', '404-1035', '406-1037', '402-1037', '406-1039', '406-1035', '402-1039', '402-1035']
<class 'pandas.core.series.Series'>
637      1017.0
1990     1022.0
3343     1015.0
4696     1016.0
6049     1000.0
7402      971.0
8755      952.0
10108     937.0
11461     929.0
12814     919.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1040', '404-1036', '406-1038', '402-1038', '406-1040', '406-1036', '402-1040', '402-1036']
<class 'pandas.core.series.Series'>
638      641.0
1991     645.0
3344     639.0
4697     639.0
6050     628.0
7403     610.0
8756     596.0
10109    586.0
11462    582.0
12815    576.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1042', '404-1038', '406-1040', '402-1040', '406-1042', '406-1038', '402-1042', '402-1038']
<class 'pandas.core.series.Series'>
640      518.0
1993     518.0
3346     516.0
4699     517.0
6052     507.0
7405     489.0
8758     475.0
10111    467.0
11464    462.0
12817    454.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1044', '404-1040', '406-1042', '402-1042', '406-1044', '406-1040', '402-1044', '402-1040']
<class 'pandas.core.series.Series'>
642      645.0
1995     640.0
3348     637.0
4701     639.0
6054     637.0
7407     633.0
8760     631.0
10113    629.0
11466    627.0
12819    623.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1037', '404-1033', '406-1035', '402-1035', '406-1037', '406-1033', '402-1037', '402-1033']
<class 'pandas.core.series.Series'>
635      446.0
1988     450.0
3341     446.0
4694     446.0
6047     438.0
7400     424.0
8753     415.0
10106    410.0
11459    407.0
12812    401.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1038', '409-1034', '411-1036', '407-1036', '411-1038', '411-1034', '407-1038', '407-1034']
<class 'pandas.core.series.Series'>
841      513.0
2194     509.0
3547     513.0
4900     510.0
6253     513.0
7606     520.0
8959     524.0
10312    527.0
11665    528.0
13018    530.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1039', '409-1035', '411-1037', '407-1037', '411-1039', '411-1035', '407-1039', '407-1035']
<class 'pandas.core.series.Series'>
842      390.0
2195     387.0
3548     391.0
4901     388.0
6254     391.0
7607     396.0
8960     399.0
10313    401.0
11666    402.0
13019    404.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1040', '409-1036', '411-1038', '407-1038', '411-1040', '411-1036', '407-1040', '407-1036']
<class 'pandas.core.series.Series'>
843      402.0
2196     397.0
3549     397.0
4902     398.0
6255     397.0
7608     403.0
8961     401.0
10314    404.0
11667    408.0
13020    411.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1042', '409-1038', '411-1040', '407-1040', '411-1042', '411-1038', '407-1042', '407-1038']
<class 'pandas.core.series.Series'>
845      105.0
2198     105.0
3551     105.0
4904     105.0
6257     105.0
7610     108.0
8963     108.0
10316    108.0
11669    111.0
13022    112.0
Name: nr_people, dtype: float64

nan
nan
nan
nan
nan
nan
nan
nan
['409-1044', '409-1040', '411-1042', '407-1042', '411-1044', '411-1040', '407-1044', '407-1040']
<class 'pandas.core.series.Series'>
847      174.0
2200     174.0
3553     174.0
4906     175.0
6259     176.0
7612     178.0
8965     178.0
10318    178.0
11671    181.0
13024    182.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1037', '409-1033', '411-1035', '407-1035', '411-1037', '411-1033', '407-1037', '407-1033']
<class 'pandas.core.series.Series'>
840      497.0
2193     494.0
3546     498.0
4899     495.0
6252     498.0
7605     504.0
8958     510.0
10311    512.0
11664    513.0
13017    514.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1038', '408-1034', '410-1036', '406-1036', '410-1038', '410-1034', '406-1038', '406-1034']
<class 'pandas.core.series.Series'>
800      540.0
2153     536.0
3506     541.0
4859     537.0
6212     541.0
7565     548.0
8918     553.0
10271    556.0
11624    557.0
12977    559.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1039', '408-1035', '410-1037', '406-1037', '410-1039', '410-1035', '406-1039', '406-1035']
<class 'pandas.core.series.Series'>
801      499.0
2154     495.0
3507     499.0
4860     498.0
6213     500.0
7566     510.0
8919     511.0
10272    512.0
11625    516.0
12978    518.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1040', '408-1036', '410-1038', '406-1038', '410-1040', '410-1036', '406-1040', '406-1036']
<class 'pandas.core.series.Series'>
802      372.0
2155     369.0
3508     369.0
4861     373.0
6214     373.0
7567     383.0
8920     382.0
10273    383.0
11626    386.0
12979    392.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1042', '408-1038', '410-1040', '406-1040', '410-1042', '410-1038', '406-1042', '406-1038']
<class 'pandas.core.series.Series'>
804      261.0
2157     263.0
3510     261.0
4863     263.0
6216     263.0
7569     272.0
8922     270.0
10275    271.0
11628    277.0
12981    282.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1044', '408-1040', '410-1042', '406-1042', '410-1044', '410-1040', '406-1044', '406-1040']
<class 'pandas.core.series.Series'>
806      411.0
2159     410.0
3512     409.0
4865     411.0
6218     413.0
7571     418.0
8924     416.0
10277    417.0
11630    422.0
12983    426.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1037', '408-1033', '410-1035', '406-1035', '410-1037', '410-1033', '406-1037', '406-1033']
<class 'pandas.core.series.Series'>
799      423.0
2152     422.0
3505     426.0
4858     424.0
6211     428.0
7564     432.0
8917     441.0
10270    442.0
11623    443.0
12976    444.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1037', '407-1033', '409-1035', '405-1035', '409-1037', '409-1033', '405-1037', '405-1033']
<class 'pandas.core.series.Series'>
758      499.0
2111     498.0
3464     503.0
4817     501.0
6170     506.0
7523     510.0
8876     521.0
10229    523.0
11582    523.0
12935    524.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1039', '407-1035', '409-1037', '405-1037', '409-1039', '409-1035', '405-1039', '405-1035']
<class 'pandas.core.series.Series'>
760      493.0
2113     493.0
3466     495.0
4819     497.0
6172     498.0
7525     497.0
8878     495.0
10231    493.0
11584    493.0
12937    493.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1041', '407-1037', '409-1039', '405-1039', '409-1041', '409-1037', '405-1041', '405-1037']
<class 'pandas.core.series.Series'>
762      361.0
2115     360.0
3468     360.0
4821     365.0
6174     366.0
7527     377.0
8880     377.0
10233    378.0
11586    382.0
12939    388.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1043', '407-1039', '409-1041', '405-1041', '409-1043', '409-1039', '405-1043', '405-1039']
<class 'pandas.core.series.Series'>
764      366.0
2117     367.0
3470     366.0
4823     368.0
6176     368.0
7529     374.0
8882     372.0
10235    374.0
11588    376.0
12941    380.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1044', '407-1040', '409-1042', '405-1042', '409-1044', '409-1040', '405-1044', '405-1040']
<class 'pandas.core.series.Series'>
765      422.0
2118     423.0
3471     423.0
4824     425.0
6177     426.0
7530     430.0
8883     426.0
10236    427.0
11589    429.0
12942    431.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1038', '407-1034', '409-1036', '405-1036', '409-1038', '409-1034', '405-1038', '405-1034']
<class 'pandas.core.series.Series'>
759      444.0
2112     443.0
3465     447.0
4818     446.0
6171     450.0
7524     450.0
8877     456.0
10230    456.0
11583    455.0
12936    454.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1033', '405-1029', '407-1031', '403-1031', '407-1033', '407-1029', '403-1033', '403-1029']
<class 'pandas.core.series.Series'>
672      629.0
2025     629.0
3378     629.0
4731     630.0
6084     632.0
7437     638.0
8790     645.0
10143    646.0
11496    646.0
12849    649.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1034', '405-1030', '407-1032', '403-1032', '407-1034', '407-1030', '403-1034', '403-1030']
<class 'pandas.core.series.Series'>
673      666.0
2026     666.0
3379     668.0
4732     669.0
6085     671.0
7438     679.0
8791     688.0
10144    690.0
11497    689.0
12850    692.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1036', '405-1032', '407-1034', '403-1034', '407-1036', '407-1032', '403-1036', '403-1032']
<class 'pandas.core.series.Series'>
675      416.0
2028     415.0
3381     417.0
4734     417.0
6087     418.0
7440     422.0
8793     426.0
10146    426.0
11499    424.0
12852    424.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1038', '405-1034', '407-1036', '403-1036', '407-1038', '407-1034', '403-1038', '403-1034']
<class 'pandas.core.series.Series'>
677      522.0
2030     526.0
3383     524.0
4736     526.0
6089     520.0
7442     504.0
8795     496.0
10148    490.0
11501    485.0
12854    480.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1040', '405-1036', '407-1038', '403-1038', '407-1040', '407-1036', '403-1040', '403-1036']
<class 'pandas.core.series.Series'>
679      454.0
2032     459.0
3385     456.0
4738     457.0
6091     452.0
7444     436.0
8797     428.0
10150    421.0
11503    418.0
12856    413.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1044', '405-1040', '407-1042', '403-1042', '407-1044', '407-1040', '403-1044', '403-1040']
<class 'pandas.core.series.Series'>
683      482.0
2036     480.0
3389     481.0
4742     486.0
6095     483.0
7448     484.0
8801     480.0
10154    478.0
11507    473.0
12860    474.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1036', '406-1032', '408-1034', '404-1034', '408-1036', '408-1032', '404-1036', '404-1032']
<class 'pandas.core.series.Series'>
716      596.0
2069     594.0
3422     599.0
4775     596.0
6128     603.0
7481     608.0
8834     620.0
10187    621.0
11540    621.0
12893    623.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1033', '406-1029', '408-1031', '404-1031', '408-1033', '408-1029', '404-1033', '404-1029']
<class 'pandas.core.series.Series'>
713      532.0
2066     532.0
3419     533.0
4772     534.0
6125     535.0
7478     540.0
8831     546.0
10184    548.0
11537    547.0
12890    549.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1035', '406-1031', '408-1033', '404-1033', '408-1035', '408-1031', '404-1035', '404-1031']
<class 'pandas.core.series.Series'>
715      538.0
2068     536.0
3421     541.0
4774     539.0
6127     543.0
7480     548.0
8833     557.0
10186    559.0
11539    558.0
12892    561.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1037', '406-1033', '408-1035', '404-1035', '408-1037', '408-1033', '404-1037', '404-1033']
<class 'pandas.core.series.Series'>
717      614.0
2070     614.0
3423     619.0
4776     619.0
6129     625.0
7482     623.0
8835     633.0
10188    633.0
11541    632.0
12894    629.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1041', '406-1037', '408-1039', '404-1039', '408-1041', '408-1037', '404-1041', '404-1037']
<class 'pandas.core.series.Series'>
721      422.0
2074     426.0
3427     426.0
4780     431.0
6133     427.0
7486     412.0
8839     404.0
10192    398.0
11545    396.0
12898    390.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1042', '406-1038', '408-1040', '404-1040', '408-1042', '408-1038', '404-1042', '404-1038']
<class 'pandas.core.series.Series'>
722      373.0
2075     375.0
3428     376.0
4781     379.0
6134     372.0
7487     356.0
8840     347.0
10193    342.0
11546    336.0
12899    333.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
2 nan
['400-1038', '400-1032', '403-1035', '397-1035', '403-1038', '403-1032', '397-1038', '397-1032']
<class 'pandas.core.series.Series'>
471      707.0
1824     704.0
3177     696.0
4530     679.0
5883     668.0
7236     631.0
8589     612.0
9942     601.0
11295    592.0
12648    571.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1039', '400-1033', '403-1036', '397-1036', '403-1039', '403-1033', '397-1039', '397-1033']
<class 'pandas.core.series.Series'>
472      938.0
1825     934.0
3178     923.0
4531     901.0
5884     887.0
7237     837.0
8590     813.0
9943     797.0
11296    784.0
12649    756.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1040', '400-1034', '403-1037', '397-1037', '403-1040', '403-1034', '397-1040', '397-1034']
<class 'pandas.core.series.Series'>
473      1120.0
1826     1119.0
3179     1093.0
4532     1095.0
5885     1086.0
7238     1072.0
8591     1064.0
9944     1052.0
11297    1043.0
12650    1044.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1031', '400-1025', '403-1028', '397-1028', '403-1031', '403-1025', '397-1031', '397-1025']
<class 'pandas.core.series.Series'>
464      382.0
1817     386.0
3170     388.0
4523     387.0
5876     389.0
7229     388.0
8582     388.0
9935     389.0
11288    390.0
12641    391.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1032', '400-1026', '403-1029', '397-1029', '403-1032', '403-1026', '397-1032', '397-1026']
<class 'pandas.core.series.Series'>
465      320.0
1818     324.0
3171     325.0
4524     324.0
5877     326.0
7230     325.0
8583     326.0
9936     326.0
11289    327.0
12642    328.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1035', '400-1029', '403-1032', '397-1032', '403-1035', '403-1029', '397-1035', '397-1029']
<class 'pandas.core.series.Series'>
468      570.0
1821     577.0
3174     579.0
4527     576.0
5880     569.0
7233     546.0
8586     539.0
9939     534.0
11292    531.0
12645    523.0
Name: nr_people, dtype: float64

nan
nan
nan
nan
nan
nan
nan
nan
['401-1038', '401-1032', '404-1035', '398-1035', '404-1038', '404-1032', '398-1038', '398-1032']
<class 'pandas.core.series.Series'>
512      549.0
1865     550.0
3218     542.0
4571     530.0
5924     521.0
7277     494.0
8630     478.0
9983     469.0
11336    466.0
12689    450.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1041', '401-1035', '404-1038', '398-1038', '404-1041', '404-1035', '398-1041', '398-1035']
<class 'pandas.core.series.Series'>
515      933.0
1868     936.0
3221     918.0
4574     920.0
5927     907.0
7280     886.0
8633     873.0
9986     861.0
11339    857.0
12692    856.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1044', '401-1038', '404-1041', '398-1041', '404-1044', '404-1038', '398-1044', '398-1038']
<class 'pandas.core.series.Series'>
518      521.0
1871     518.0
3224     513.0
4577     504.0
5930     501.0
7283     500.0
8636     497.0
9989     492.0
11342    488.0
12695    483.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1036', '401-1030', '404-1033', '398-1033', '404-1036', '404-1030', '398-1036', '398-1030']
<class 'pandas.core.series.Series'>
510      687.0
1863     689.0
3216     686.0
4569     677.0
5922     669.0
7275     642.0
8628     626.0
9981     618.0
11334    614.0
12687    599.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1032', '401-1026', '404-1029', '398-1029', '404-1032', '404-1026', '398-1032', '398-1026']
<class 'pandas.core.series.Series'>
506      544.0
1859     549.0
3212     548.0
4565     548.0
5918     548.0
7271     551.0
8624     553.0
9977     554.0
11330    557.0
12683    557.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1035', '401-1029', '404-1032', '398-1032', '404-1035', '404-1029', '398-1035', '398-1029']
<class 'pandas.core.series.Series'>
509      518.0
1862     523.0
3215     526.0
4568     526.0
5921     520.0
7274     501.0
8627     494.0
9980     489.0
11333    484.0
12686    478.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1046', '402-1040', '405-1043', '399-1043', '405-1046', '405-1040', '399-1046', '399-1040']
<class 'pandas.core.series.Series'>
561      656.0
1914     652.0
3267     645.0
4620     640.0
5973     645.0
7326     634.0
8679     632.0
10032    630.0
11385    632.0
12738    626.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1042', '402-1036', '405-1039', '399-1039', '405-1042', '405-1036', '399-1042', '399-1036']
<class 'pandas.core.series.Series'>
557      830.0
1910     831.0
3263     822.0
4616     820.0
5969     806.0
7322     786.0
8675     769.0
10028    757.0
11381    756.0
12734    752.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1036', '402-1030', '405-1033', '399-1033', '405-1036', '405-1030', '399-1036', '399-1030']
<class 'pandas.core.series.Series'>
551      453.0
1904     457.0
3257     454.0
4610     451.0
5963     444.0
7316     429.0
8669     418.0
10022    412.0
11375    409.0
12728    402.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1038', '402-1032', '405-1035', '399-1035', '405-1038', '405-1032', '399-1038', '399-1032']
<class 'pandas.core.series.Series'>
553      643.0
1906     649.0
3259     640.0
4612     637.0
5965     625.0
7318     599.0
8671     583.0
10024    574.0
11377    569.0
12730    558.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1040', '402-1034', '405-1037', '399-1037', '405-1040', '405-1034', '399-1040', '399-1034']
<class 'pandas.core.series.Series'>
555      696.0
1908     699.0
3261     687.0
4614     689.0
5967     676.0
7320     654.0
8673     640.0
10026    630.0
11379    625.0
12732    620.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1034', '402-1028', '405-1031', '399-1031', '405-1034', '405-1028', '399-1034', '399-1028']
<class 'pandas.core.series.Series'>
549      634.0
1902     638.0
3255     638.0
4608     638.0
5961     640.0
7314     647.0
8667     651.0
10020    652.0
11373    653.0
12726    655.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1046', '403-1040', '406-1043', '400-1043', '406-1046', '406-1040', '400-1046', '400-1040']
<class 'pandas.core.series.Series'>
602      632.0
1955     630.0
3308     625.0
4661     623.0
6014     629.0
7367     619.0
8720     617.0
10073    616.0
11426    615.0
12779    609.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1034', '403-1028', '406-1031', '400-1031', '406-1034', '406-1028', '400-1034', '400-1028']
<class 'pandas.core.series.Series'>
590      569.0
1943     572.0
3296     570.0
4649     571.0
6002     571.0
7355     579.0
8708     585.0
10061    585.0
11414    586.0
12767    588.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1037', '403-1031', '406-1034', '400-1034', '406-1037', '406-1031', '400-1037', '400-1031']
<class 'pandas.core.series.Series'>
593      456.0
1946     461.0
3299     457.0
4652     457.0
6005     449.0
7358     436.0
8711     426.0
10064    420.0
11417    417.0
12770    411.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1039', '403-1033', '406-1036', '400-1036', '406-1039', '406-1033', '400-1039', '400-1033']
<class 'pandas.core.series.Series'>
595      638.0
1948     642.0
3301     633.0
4654     634.0
6007     622.0
7360     602.0
8713     588.0
10066    580.0
11419    573.0
12772    567.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1040', '403-1034', '406-1037', '400-1037', '406-1040', '406-1034', '400-1040', '400-1034']
<class 'pandas.core.series.Series'>
596      636.0
1949     639.0
3302     633.0
4655     632.0
6008     622.0
7361     607.0
8714     594.0
10067    585.0
11420    582.0
12773    578.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1042', '403-1036', '406-1039', '400-1039', '406-1042', '406-1036', '400-1042', '400-1036']
<class 'pandas.core.series.Series'>
598      870.0
1951     872.0
3304     863.0
4657     863.0
6010     848.0
7363     828.0
8716     810.0
10069    798.0
11422    795.0
12775    789.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1039', '404-1033', '407-1036', '401-1036', '407-1039', '407-1033', '401-1039', '401-1033']
<class 'pandas.core.series.Series'>
636      875.0
1989     881.0
3342     874.0
4695     876.0
6048     862.0
7401     835.0
8754     819.0
10107    807.0
11460    799.0
12813    790.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1040', '404-1034', '407-1037', '401-1037', '407-1040', '407-1034', '401-1040', '401-1034']
<class 'pandas.core.series.Series'>
637      1017.0
1990     1022.0
3343     1015.0
4696     1016.0
6049     1000.0
7402      971.0
8755      952.0
10108     937.0
11461     929.0
12814     919.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1041', '404-1035', '407-1038', '401-1038', '407-1041', '407-1035', '401-1041', '401-1035']
<class 'pandas.core.series.Series'>
638      641.0
1991     645.0
3344     639.0
4697     639.0
6050     628.0
7403     610.0
8756     596.0
10109    586.0
11462    582.0
12815    576.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1043', '404-1037', '407-1040', '401-1040', '407-1043', '407-1037', '401-1043', '401-1037']
<class 'pandas.core.series.Series'>
640      518.0
1993     518.0
3346     516.0
4699     517.0
6052     507.0
7405     489.0
8758     475.0
10111    467.0
11464    462.0
12817    454.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1045', '404-1039', '407-1042', '401-1042', '407-1045', '407-1039', '401-1045', '401-1039']
<class 'pandas.core.series.Series'>
642      645.0
1995     640.0
3348     637.0
4701     639.0
6054     637.0
7407     633.0
8760     631.0
10113    629.0
11466    627.0
12819    623.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1038', '404-1032', '407-1035', '401-1035', '407-1038', '407-1032', '401-1038', '401-1032']
<class 'pandas.core.series.Series'>
635      446.0
1988     450.0
3341     446.0
4694     446.0
6047     438.0
7400     424.0
8753     415.0
10106    410.0
11459    407.0
12812    401.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1039', '409-1033', '412-1036', '406-1036', '412-1039', '412-1033', '406-1039', '406-1033']
<class 'pandas.core.series.Series'>
841      513.0
2194     509.0
3547     513.0
4900     510.0
6253     513.0
7606     520.0
8959     524.0
10312    527.0
11665    528.0
13018    530.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1040', '409-1034', '412-1037', '406-1037', '412-1040', '412-1034', '406-1040', '406-1034']
<class 'pandas.core.series.Series'>
842      390.0
2195     387.0
3548     391.0
4901     388.0
6254     391.0
7607     396.0
8960     399.0
10313    401.0
11666    402.0
13019    404.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1041', '409-1035', '412-1038', '406-1038', '412-1041', '412-1035', '406-1041', '406-1035']
<class 'pandas.core.series.Series'>
843      402.0
2196     397.0
3549     397.0
4902     398.0
6255     397.0
7608     403.0
8961     401.0
10314    404.0
11667    408.0
13020    411.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1043', '409-1037', '412-1040', '406-1040', '412-1043', '412-1037', '406-1043', '406-1037']
<class 'pandas.core.series.Series'>
845      105.0
2198     105.0
3551     105.0
4904     105.0
6257     105.0
7610     108.0
8963     108.0
10316    108.0
11669    111.0
13022    112.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1045', '409-1039', '412-1042', '406-1042', '412-1045', '412-1039', '406-1045', '406-1039']
<class 'pandas.core.series.Series'>
847      174.0
2200     174.0
3553     174.0
4906     175.0
6259     176.0
7612     178.0
8965     178.0
10318    178.0
11671    181.0
13024    182.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1038', '409-1032', '412-1035', '406-1035', '412-1038', '412-1032', '406-1038', '406-1032']
<class 'pandas.core.series.Series'>
840      497.0
2193     494.0
3546     498.0
4899     495.0
6252     498.0
7605     504.0
8958     510.0
10311    512.0
11664    513.0
13017    514.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1039', '408-1033', '411-1036', '405-1036', '411-1039', '411-1033', '405-1039', '405-1033']
<class 'pandas.core.series.Series'>
800      540.0
2153     536.0
3506     541.0
4859     537.0
6212     541.0
7565     548.0
8918     553.0
10271    556.0
11624    557.0
12977    559.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1040', '408-1034', '411-1037', '405-1037', '411-1040', '411-1034', '405-1040', '405-1034']
<class 'pandas.core.series.Series'>
801      499.0
2154     495.0
3507     499.0
4860     498.0
6213     500.0
7566     510.0
8919     511.0
10272    512.0
11625    516.0
12978    518.0
Name: nr_people, dtype: float64
nan

nan
nan
nan
nan
nan
nan
nan
['408-1041', '408-1035', '411-1038', '405-1038', '411-1041', '411-1035', '405-1041', '405-1035']
<class 'pandas.core.series.Series'>
802      372.0
2155     369.0
3508     369.0
4861     373.0
6214     373.0
7567     383.0
8920     382.0
10273    383.0
11626    386.0
12979    392.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1043', '408-1037', '411-1040', '405-1040', '411-1043', '411-1037', '405-1043', '405-1037']
<class 'pandas.core.series.Series'>
804      261.0
2157     263.0
3510     261.0
4863     263.0
6216     263.0
7569     272.0
8922     270.0
10275    271.0
11628    277.0
12981    282.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1045', '408-1039', '411-1042', '405-1042', '411-1045', '411-1039', '405-1045', '405-1039']
<class 'pandas.core.series.Series'>
806      411.0
2159     410.0
3512     409.0
4865     411.0
6218     413.0
7571     418.0
8924     416.0
10277    417.0
11630    422.0
12983    426.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1038', '408-1032', '411-1035', '405-1035', '411-1038', '411-1032', '405-1038', '405-1032']
<class 'pandas.core.series.Series'>
799      423.0
2152     422.0
3505     426.0
4858     424.0
6211     428.0
7564     432.0
8917     441.0
10270    442.0
11623    443.0
12976    444.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1038', '407-1032', '410-1035', '404-1035', '410-1038', '410-1032', '404-1038', '404-1032']
<class 'pandas.core.series.Series'>
758      499.0
2111     498.0
3464     503.0
4817     501.0
6170     506.0
7523     510.0
8876     521.0
10229    523.0
11582    523.0
12935    524.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1040', '407-1034', '410-1037', '404-1037', '410-1040', '410-1034', '404-1040', '404-1034']
<class 'pandas.core.series.Series'>
760      493.0
2113     493.0
3466     495.0
4819     497.0
6172     498.0
7525     497.0
8878     495.0
10231    493.0
11584    493.0
12937    493.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1042', '407-1036', '410-1039', '404-1039', '410-1042', '410-1036', '404-1042', '404-1036']
<class 'pandas.core.series.Series'>
762      361.0
2115     360.0
3468     360.0
4821     365.0
6174     366.0
7527     377.0
8880     377.0
10233    378.0
11586    382.0
12939    388.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1044', '407-1038', '410-1041', '404-1041', '410-1044', '410-1038', '404-1044', '404-1038']
<class 'pandas.core.series.Series'>
764      366.0
2117     367.0
3470     366.0
4823     368.0
6176     368.0
7529     374.0
8882     372.0
10235    374.0
11588    376.0
12941    380.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1045', '407-1039', '410-1042', '404-1042', '410-1045', '410-1039', '404-1045', '404-1039']
<class 'pandas.core.series.Series'>
765      422.0
2118     423.0
3471     423.0
4824     425.0
6177     426.0
7530     430.0
8883     426.0
10236    427.0
11589    429.0
12942    431.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1039', '407-1033', '410-1036', '404-1036', '410-1039', '410-1033', '404-1039', '404-1033']
<class 'pandas.core.series.Series'>
759      444.0
2112     443.0
3465     447.0
4818     446.0
6171     450.0
7524     450.0
8877     456.0
10230    456.0
11583    455.0
12936    454.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1034', '405-1028', '408-1031', '402-1031', '408-1034', '408-1028', '402-1034', '402-1028']
<class 'pandas.core.series.Series'>
672      629.0
2025     629.0
3378     629.0
4731     630.0
6084     632.0
7437     638.0
8790     645.0
10143    646.0
11496    646.0
12849    649.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1035', '405-1029', '408-1032', '402-1032', '408-1035', '408-1029', '402-1035', '402-1029']
<class 'pandas.core.series.Series'>
673      666.0
2026     666.0
3379     668.0
4732     669.0
6085     671.0
7438     679.0
8791     688.0
10144    690.0
11497    689.0
12850    692.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1037', '405-1031', '408-1034', '402-1034', '408-1037', '408-1031', '402-1037', '402-1031']
<class 'pandas.core.series.Series'>
675      416.0
2028     415.0
3381     417.0
4734     417.0
6087     418.0
7440     422.0
8793     426.0
10146    426.0
11499    424.0
12852    424.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1039', '405-1033', '408-1036', '402-1036', '408-1039', '408-1033', '402-1039', '402-1033']
<class 'pandas.core.series.Series'>
677      522.0
2030     526.0
3383     524.0
4736     526.0
6089     520.0
7442     504.0
8795     496.0
10148    490.0
11501    485.0
12854    480.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1041', '405-1035', '408-1038', '402-1038', '408-1041', '408-1035', '402-1041', '402-1035']
<class 'pandas.core.series.Series'>
679      454.0
2032     459.0
3385     456.0
4738     457.0
6091     452.0
7444     436.0
8797     428.0
10150    421.0
11503    418.0
12856    413.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1045', '405-1039', '408-1042', '402-1042', '408-1045', '408-1039', '402-1045', '402-1039']
<class 'pandas.core.series.Series'>
683      482.0
2036     480.0
3389     481.0
4742     486.0
6095     483.0
7448     484.0
8801     480.0
10154    478.0
11507    473.0
12860    474.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1037', '406-1031', '409-1034', '403-1034', '409-1037', '409-1031', '403-1037', '403-1031']
<class 'pandas.core.series.Series'>
716      596.0
2069     594.0
3422     599.0
4775     596.0
6128     603.0
7481     608.0
8834     620.0
10187    621.0
11540    621.0
12893    623.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1034', '406-1028', '409-1031', '403-1031', '409-1034', '409-1028', '403-1034', '403-1028']
<class 'pandas.core.series.Series'>
713      532.0
2066     532.0
3419     533.0
4772     534.0
6125     535.0
7478     540.0
8831     546.0
10184    548.0
11537    547.0
12890    549.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1036', '406-1030', '409-1033', '403-1033', '409-1036', '409-1030', '403-1036', '403-1030']
<class 'pandas.core.series.Series'>
715      538.0
2068     536.0
3421     541.0
4774     539.0
6127     543.0
7480     548.0
8833     557.0
10186    559.0
11539    558.0
12892    561.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1038', '406-1032', '409-1035', '403-1035', '409-1038', '409-1032', '403-1038', '403-1032']
<class 'pandas.core.series.Series'>
717      614.0
2070     614.0
3423     619.0
4776     619.0
6129     625.0
7482     623.0
8835     633.0
10188    633.0
11541    632.0
12894    629.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1042', '406-1036', '409-1039', '403-1039', '409-1042', '409-1036', '403-1042', '403-1036']
<class 'pandas.core.series.Series'>
721      422.0
2074     426.0
3427     426.0
4780     431.0
6133     427.0
7486     412.0
8839     404.0
10192    398.0
11545    396.0
12898    390.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1043', '406-1037', '409-1040', '403-1040', '409-1043', '409-1037', '403-1043', '403-1037']
<class 'pandas.core.series.Series'>
722      373.0
2075     375.0
3428     376.0
4781     379.0
6134     372.0
7487     356.0
8840     347.0
10193    342.0
11546    336.0
12899    333.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
3 nan
['400-1039', '400-1031', '404-1035', '396-1035', '404-1039', '404-1031', '396-1039', '396-1031']
<class 'pandas.core.series.Series'>
471      707.0
1824     704.0
3177     696.0
4530     679.0
5883     668.0
7236     631.0
8589     612.0
9942     601.0
11295    592.0
12648    571.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1040', '400-1032', '404-1036', '396-1036', '404-1040', '404-1032', '396-1040', '396-1032']
<class 'pandas.core.series.Series'>
472      938.0
1825     934.0
3178     923.0
4531     901.0
5884     887.0
7237     837.0
8590     813.0
9943     797.0
11296    784.0
12649    756.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1041', '400-1033', '404-1037', '396-1037', '404-1041', '404-1033', '396-1041', '396-1033']
<class 'pandas.core.series.Series'>
473      1120.0
1826     1119.0
3179     1093.0
4532     1095.0
5885     1086.0
7238     1072.0
8591     1064.0
9944     1052.0
11297    1043.0
12650    1044.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1032', '400-1024', '404-1028', '396-1028', '404-1032', '404-1024', '396-1032', '396-1024']
<class 'pandas.core.series.Series'>
464      382.0
1817     386.0
3170     388.0
4523     387.0
5876     389.0
7229     388.0
8582     388.0
9935     389.0
11288    390.0
12641    391.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1033', '400-1025', '404-1029', '396-1029', '404-1033', '404-1025', '396-1033', '396-1025']
<class 'pandas.core.series.Series'>
465      320.0
1818     324.0
3171     325.0
4524     324.0
5877     326.0
7230     325.0
8583     326.0
9936     326.0
11289    327.0
12642    328.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1036', '400-1028', '404-1032', '396-1032', '404-1036', '404-1028', '396-1036', '396-1028']
<class 'pandas.core.series.Series'>
468      570.0
1821     577.0
3174     579.0
4527     576.0
5880     569.0
7233     546.0
8586     539.0
9939     534.0
11292    531.0
12645    523.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1039', '401-1031', '405-1035', '397-1035', '405-1039', '405-1031', '397-1039', '397-1031']
<class 'pandas.core.series.Series'>
512      549.0
1865     550.0
3218     542.0
4571     530.0
5924     521.0
7277     494.0
8630     478.0
9983     469.0
11336    466.0
12689    450.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1042', '401-1034', '405-1038', '397-1038', '405-1042', '405-1034', '397-1042', '397-1034']
<class 'pandas.core.series.Series'>
515      933.0
1868     936.0
3221     918.0
4574     920.0
5927     907.0
7280     886.0
8633     873.0
9986     861.0
11339    857.0
12692    856.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1045', '401-1037', '405-1041', '397-1041', '405-1045', '405-1037', '397-1045', '397-1037']
<class 'pandas.core.series.Series'>
518      521.0
1871     518.0
3224     513.0
4577     504.0
5930     501.0
7283     500.0
8636     497.0
9989     492.0
11342    488.0
12695    483.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1037', '401-1029', '405-1033', '397-1033', '405-1037', '405-1029', '397-1037', '397-1029']
<class 'pandas.core.series.Series'>
510      687.0
1863     689.0
3216     686.0
4569     677.0
5922     669.0
7275     642.0
8628     626.0
9981     618.0
11334    614.0
12687    599.0
Name: nr_people, dtype: float64

nan
nan
nan
nan
nan
nan
nan
nan
['401-1033', '401-1025', '405-1029', '397-1029', '405-1033', '405-1025', '397-1033', '397-1025']
<class 'pandas.core.series.Series'>
506      544.0
1859     549.0
3212     548.0
4565     548.0
5918     548.0
7271     551.0
8624     553.0
9977     554.0
11330    557.0
12683    557.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1036', '401-1028', '405-1032', '397-1032', '405-1036', '405-1028', '397-1036', '397-1028']
<class 'pandas.core.series.Series'>
509      518.0
1862     523.0
3215     526.0
4568     526.0
5921     520.0
7274     501.0
8627     494.0
9980     489.0
11333    484.0
12686    478.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1047', '402-1039', '406-1043', '398-1043', '406-1047', '406-1039', '398-1047', '398-1039']
<class 'pandas.core.series.Series'>
561      656.0
1914     652.0
3267     645.0
4620     640.0
5973     645.0
7326     634.0
8679     632.0
10032    630.0
11385    632.0
12738    626.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1043', '402-1035', '406-1039', '398-1039', '406-1043', '406-1035', '398-1043', '398-1035']
<class 'pandas.core.series.Series'>
557      830.0
1910     831.0
3263     822.0
4616     820.0
5969     806.0
7322     786.0
8675     769.0
10028    757.0
11381    756.0
12734    752.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1037', '402-1029', '406-1033', '398-1033', '406-1037', '406-1029', '398-1037', '398-1029']
<class 'pandas.core.series.Series'>
551      453.0
1904     457.0
3257     454.0
4610     451.0
5963     444.0
7316     429.0
8669     418.0
10022    412.0
11375    409.0
12728    402.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1039', '402-1031', '406-1035', '398-1035', '406-1039', '406-1031', '398-1039', '398-1031']
<class 'pandas.core.series.Series'>
553      643.0
1906     649.0
3259     640.0
4612     637.0
5965     625.0
7318     599.0
8671     583.0
10024    574.0
11377    569.0
12730    558.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1041', '402-1033', '406-1037', '398-1037', '406-1041', '406-1033', '398-1041', '398-1033']
<class 'pandas.core.series.Series'>
555      696.0
1908     699.0
3261     687.0
4614     689.0
5967     676.0
7320     654.0
8673     640.0
10026    630.0
11379    625.0
12732    620.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1035', '402-1027', '406-1031', '398-1031', '406-1035', '406-1027', '398-1035', '398-1027']
<class 'pandas.core.series.Series'>
549      634.0
1902     638.0
3255     638.0
4608     638.0
5961     640.0
7314     647.0
8667     651.0
10020    652.0
11373    653.0
12726    655.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1047', '403-1039', '407-1043', '399-1043', '407-1047', '407-1039', '399-1047', '399-1039']
<class 'pandas.core.series.Series'>
602      632.0
1955     630.0
3308     625.0
4661     623.0
6014     629.0
7367     619.0
8720     617.0
10073    616.0
11426    615.0
12779    609.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1035', '403-1027', '407-1031', '399-1031', '407-1035', '407-1027', '399-1035', '399-1027']
<class 'pandas.core.series.Series'>
590      569.0
1943     572.0
3296     570.0
4649     571.0
6002     571.0
7355     579.0
8708     585.0
10061    585.0
11414    586.0
12767    588.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1038', '403-1030', '407-1034', '399-1034', '407-1038', '407-1030', '399-1038', '399-1030']
<class 'pandas.core.series.Series'>
593      456.0
1946     461.0
3299     457.0
4652     457.0
6005     449.0
7358     436.0
8711     426.0
10064    420.0
11417    417.0
12770    411.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1040', '403-1032', '407-1036', '399-1036', '407-1040', '407-1032', '399-1040', '399-1032']
<class 'pandas.core.series.Series'>
595      638.0
1948     642.0
3301     633.0
4654     634.0
6007     622.0
7360     602.0
8713     588.0
10066    580.0
11419    573.0
12772    567.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1041', '403-1033', '407-1037', '399-1037', '407-1041', '407-1033', '399-1041', '399-1033']
<class 'pandas.core.series.Series'>
596      636.0
1949     639.0
3302     633.0
4655     632.0
6008     622.0
7361     607.0
8714     594.0
10067    585.0
11420    582.0
12773    578.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1043', '403-1035', '407-1039', '399-1039', '407-1043', '407-1035', '399-1043', '399-1035']
<class 'pandas.core.series.Series'>
598      870.0
1951     872.0
3304     863.0
4657     863.0
6010     848.0
7363     828.0
8716     810.0
10069    798.0
11422    795.0
12775    789.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1040', '404-1032', '408-1036', '400-1036', '408-1040', '408-1032', '400-1040', '400-1032']
<class 'pandas.core.series.Series'>
636      875.0
1989     881.0
3342     874.0
4695     876.0
6048     862.0
7401     835.0
8754     819.0
10107    807.0
11460    799.0
12813    790.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1041', '404-1033', '408-1037', '400-1037', '408-1041', '408-1033', '400-1041', '400-1033']
<class 'pandas.core.series.Series'>
637      1017.0
1990     1022.0
3343     1015.0
4696     1016.0
6049     1000.0
7402      971.0
8755      952.0
10108     937.0
11461     929.0
12814     919.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1042', '404-1034', '408-1038', '400-1038', '408-1042', '408-1034', '400-1042', '400-1034']
<class 'pandas.core.series.Series'>
638      641.0
1991     645.0
3344     639.0
4697     639.0
6050     628.0
7403     610.0
8756     596.0
10109    586.0
11462    582.0
12815    576.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1044', '404-1036', '408-1040', '400-1040', '408-1044', '408-1036', '400-1044', '400-1036']
<class 'pandas.core.series.Series'>
640      518.0
1993     518.0
3346     516.0
4699     517.0
6052     507.0
7405     489.0
8758     475.0
10111    467.0
11464    462.0
12817    454.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1046', '404-1038', '408-1042', '400-1042', '408-1046', '408-1038', '400-1046', '400-1038']
<class 'pandas.core.series.Series'>
642      645.0
1995     640.0
3348     637.0
4701     639.0
6054     637.0
7407     633.0
8760     631.0
10113    629.0
11466    627.0
12819    623.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1039', '404-1031', '408-1035', '400-1035', '408-1039', '408-1031', '400-1039', '400-1031']
<class 'pandas.core.series.Series'>
635      446.0
1988     450.0
3341     446.0
4694     446.0
6047     438.0
7400     424.0
8753     415.0
10106    410.0
11459    407.0
12812    401.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1040', '409-1032', '413-1036', '405-1036', '413-1040', '413-1032', '405-1040', '405-1032']
<class 'pandas.core.series.Series'>
841      513.0
2194     509.0
3547     513.0
4900     510.0
6253     513.0
7606     520.0
8959     524.0
10312    527.0
11665    528.0
13018    530.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1041', '409-1033', '413-1037', '405-1037', '413-1041', '413-1033', '405-1041', '405-1033']
<class 'pandas.core.series.Series'>
842      390.0
2195     387.0
3548     391.0
4901     388.0
6254     391.0
7607     396.0
8960     399.0
10313    401.0
11666    402.0
13019    404.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1042', '409-1034', '413-1038', '405-1038', '413-1042', '413-1034', '405-1042', '405-1034']
<class 'pandas.core.series.Series'>
843      402.0
2196     397.0
3549     397.0
4902     398.0
6255     397.0
7608     403.0
8961     401.0
10314    404.0
11667    408.0
13020    411.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1044', '409-1036', '413-1040', '405-1040', '413-1044', '413-1036', '405-1044', '405-1036']
<class 'pandas.core.series.Series'>
845      105.0
2198     105.0
3551     105.0
4904     105.0
6257     105.0
7610     108.0
8963     108.0
10316    108.0
11669    111.0
13022    112.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1046', '409-1038', '413-1042', '405-1042', '413-1046', '413-1038', '405-1046', '405-1038']
<class 'pandas.core.series.Series'>
847      174.0
2200     174.0
3553     174.0
4906     175.0
6259     176.0
7612     178.0
8965     178.0
10318    178.0
11671    181.0
13024    182.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1039', '409-1031', '413-1035', '405-1035', '413-1039', '413-1031', '405-1039', '405-1031']
<class 'pandas.core.series.Series'>
840      497.0
2193     494.0
3546     498.0
4899     495.0
6252     498.0
7605     504.0
8958     510.0
10311    512.0
11664    513.0
13017    514.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1040', '408-1032', '412-1036', '404-1036', '412-1040', '412-1032', '404-1040', '404-1032']
<class 'pandas.core.series.Series'>
800      540.0
2153     536.0
3506     541.0
4859     537.0
6212     541.0
7565     548.0
8918     553.0
10271    556.0
11624    557.0
12977    559.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1041', '408-1033', '412-1037', '404-1037', '412-1041', '412-1033', '404-1041', '404-1033']
<class 'pandas.core.series.Series'>
801      499.0
2154     495.0
3507     499.0
4860     498.0
6213     500.0
7566     510.0
8919     511.0
10272    512.0
11625    516.0
12978    518.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1042', '408-1034', '412-1038', '404-1038', '412-1042', '412-1034', '404-1042', '404-1034']
<class 'pandas.core.series.Series'>
802      372.0
2155     369.0
3508     369.0
4861     373.0
6214     373.0
7567     383.0
8920     382.0
10273    383.0
11626    386.0
12979    392.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1044', '408-1036', '412-1040', '404-1040', '412-1044', '412-1036', '404-1044', '404-1036']
<class 'pandas.core.series.Series'>
804      261.0
2157     263.0
3510     261.0
4863     263.0
6216     263.0
7569     272.0
8922     270.0
10275    271.0
11628    277.0
12981    282.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1046', '408-1038', '412-1042', '404-1042', '412-1046', '412-1038', '404-1046', '404-1038']
<class 'pandas.core.series.Series'>
806      411.0
2159     410.0
3512     409.0
4865     411.0
6218     413.0
7571     418.0
8924     416.0
10277    417.0
11630    422.0
12983    426.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1039', '408-1031', '412-1035', '404-1035', '412-1039', '412-1031', '404-1039', '404-1031']
<class 'pandas.core.series.Series'>
799      423.0
2152     422.0
3505     426.0
4858     424.0
6211     428.0
7564     432.0
8917     441.0
10270    442.0
11623    443.0
12976    444.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1039', '407-1031', '411-1035', '403-1035', '411-1039', '411-1031', '403-1039', '403-1031']
<class 'pandas.core.series.Series'>
758      499.0
2111     498.0
3464     503.0
4817     501.0
6170     506.0
7523     510.0
8876     521.0
10229    523.0
11582    523.0
12935    524.0
Name: nr_people, dtype: float64
nan

nan
nan
nan
nan
nan
nan
nan
['407-1041', '407-1033', '411-1037', '403-1037', '411-1041', '411-1033', '403-1041', '403-1033']
<class 'pandas.core.series.Series'>
760      493.0
2113     493.0
3466     495.0
4819     497.0
6172     498.0
7525     497.0
8878     495.0
10231    493.0
11584    493.0
12937    493.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1043', '407-1035', '411-1039', '403-1039', '411-1043', '411-1035', '403-1043', '403-1035']
<class 'pandas.core.series.Series'>
762      361.0
2115     360.0
3468     360.0
4821     365.0
6174     366.0
7527     377.0
8880     377.0
10233    378.0
11586    382.0
12939    388.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1045', '407-1037', '411-1041', '403-1041', '411-1045', '411-1037', '403-1045', '403-1037']
<class 'pandas.core.series.Series'>
764      366.0
2117     367.0
3470     366.0
4823     368.0
6176     368.0
7529     374.0
8882     372.0
10235    374.0
11588    376.0
12941    380.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1046', '407-1038', '411-1042', '403-1042', '411-1046', '411-1038', '403-1046', '403-1038']
<class 'pandas.core.series.Series'>
765      422.0
2118     423.0
3471     423.0
4824     425.0
6177     426.0
7530     430.0
8883     426.0
10236    427.0
11589    429.0
12942    431.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1040', '407-1032', '411-1036', '403-1036', '411-1040', '411-1032', '403-1040', '403-1032']
<class 'pandas.core.series.Series'>
759      444.0
2112     443.0
3465     447.0
4818     446.0
6171     450.0
7524     450.0
8877     456.0
10230    456.0
11583    455.0
12936    454.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1035', '405-1027', '409-1031', '401-1031', '409-1035', '409-1027', '401-1035', '401-1027']
<class 'pandas.core.series.Series'>
672      629.0
2025     629.0
3378     629.0
4731     630.0
6084     632.0
7437     638.0
8790     645.0
10143    646.0
11496    646.0
12849    649.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1036', '405-1028', '409-1032', '401-1032', '409-1036', '409-1028', '401-1036', '401-1028']
<class 'pandas.core.series.Series'>
673      666.0
2026     666.0
3379     668.0
4732     669.0
6085     671.0
7438     679.0
8791     688.0
10144    690.0
11497    689.0
12850    692.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1038', '405-1030', '409-1034', '401-1034', '409-1038', '409-1030', '401-1038', '401-1030']
<class 'pandas.core.series.Series'>
675      416.0
2028     415.0
3381     417.0
4734     417.0
6087     418.0
7440     422.0
8793     426.0
10146    426.0
11499    424.0
12852    424.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1040', '405-1032', '409-1036', '401-1036', '409-1040', '409-1032', '401-1040', '401-1032']
<class 'pandas.core.series.Series'>
677      522.0
2030     526.0
3383     524.0
4736     526.0
6089     520.0
7442     504.0
8795     496.0
10148    490.0
11501    485.0
12854    480.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1042', '405-1034', '409-1038', '401-1038', '409-1042', '409-1034', '401-1042', '401-1034']
<class 'pandas.core.series.Series'>
679      454.0
2032     459.0
3385     456.0
4738     457.0
6091     452.0
7444     436.0
8797     428.0
10150    421.0
11503    418.0
12856    413.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1046', '405-1038', '409-1042', '401-1042', '409-1046', '409-1038', '401-1046', '401-1038']
<class 'pandas.core.series.Series'>
683      482.0
2036     480.0
3389     481.0
4742     486.0
6095     483.0
7448     484.0
8801     480.0
10154    478.0
11507    473.0
12860    474.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1038', '406-1030', '410-1034', '402-1034', '410-1038', '410-1030', '402-1038', '402-1030']
<class 'pandas.core.series.Series'>
716      596.0
2069     594.0
3422     599.0
4775     596.0
6128     603.0
7481     608.0
8834     620.0
10187    621.0
11540    621.0
12893    623.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1035', '406-1027', '410-1031', '402-1031', '410-1035', '410-1027', '402-1035', '402-1027']
<class 'pandas.core.series.Series'>
713      532.0
2066     532.0
3419     533.0
4772     534.0
6125     535.0
7478     540.0
8831     546.0
10184    548.0
11537    547.0
12890    549.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1037', '406-1029', '410-1033', '402-1033', '410-1037', '410-1029', '402-1037', '402-1029']
<class 'pandas.core.series.Series'>
715      538.0
2068     536.0
3421     541.0
4774     539.0
6127     543.0
7480     548.0
8833     557.0
10186    559.0
11539    558.0
12892    561.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1039', '406-1031', '410-1035', '402-1035', '410-1039', '410-1031', '402-1039', '402-1031']
<class 'pandas.core.series.Series'>
717      614.0
2070     614.0
3423     619.0
4776     619.0
6129     625.0
7482     623.0
8835     633.0
10188    633.0
11541    632.0
12894    629.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1043', '406-1035', '410-1039', '402-1039', '410-1043', '410-1035', '402-1043', '402-1035']
<class 'pandas.core.series.Series'>
721      422.0
2074     426.0
3427     426.0
4780     431.0
6133     427.0
7486     412.0
8839     404.0
10192    398.0
11545    396.0
12898    390.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1044', '406-1036', '410-1040', '402-1040', '410-1044', '410-1036', '402-1044', '402-1036']
<class 'pandas.core.series.Series'>
722      373.0
2075     375.0
3428     376.0
4781     379.0
6134     372.0
7487     356.0
8840     347.0
10193    342.0
11546    336.0
12899    333.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
4 nan
['400-1040', '400-1030', '405-1035', '395-1035', '405-1040', '405-1030', '395-1040', '395-1030']
<class 'pandas.core.series.Series'>
471      707.0
1824     704.0
3177     696.0
4530     679.0
5883     668.0
7236     631.0
8589     612.0
9942     601.0
11295    592.0
12648    571.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1041', '400-1031', '405-1036', '395-1036', '405-1041', '405-1031', '395-1041', '395-1031']
<class 'pandas.core.series.Series'>
472      938.0
1825     934.0
3178     923.0
4531     901.0
5884     887.0
7237     837.0
8590     813.0
9943     797.0
11296    784.0
12649    756.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1042', '400-1032', '405-1037', '395-1037', '405-1042', '405-1032', '395-1042', '395-1032']
<class 'pandas.core.series.Series'>
473      1120.0
1826     1119.0
3179     1093.0
4532     1095.0
5885     1086.0
7238     1072.0
8591     1064.0
9944     1052.0
11297    1043.0
12650    1044.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1033', '400-1023', '405-1028', '395-1028', '405-1033', '405-1023', '395-1033', '395-1023']
<class 'pandas.core.series.Series'>
464      382.0
1817     386.0
3170     388.0
4523     387.0
5876     389.0
7229     388.0
8582     388.0
9935     389.0
11288    390.0
12641    391.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1034', '400-1024', '405-1029', '395-1029', '405-1034', '405-1024', '395-1034', '395-1024']
<class 'pandas.core.series.Series'>
465      320.0
1818     324.0
3171     325.0
4524     324.0
5877     326.0
7230     325.0
8583     326.0
9936     326.0
11289    327.0
12642    328.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['400-1037', '400-1027', '405-1032', '395-1032', '405-1037', '405-1027', '395-1037', '395-1027']
<class 'pandas.core.series.Series'>
468      570.0
1821     577.0
3174     579.0
4527     576.0
5880     569.0
7233     546.0
8586     539.0
9939     534.0
11292    531.0
12645    523.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1040', '401-1030', '406-1035', '396-1035', '406-1040', '406-1030', '396-1040', '396-1030']
<class 'pandas.core.series.Series'>
512      549.0
1865     550.0
3218     542.0
4571     530.0
5924     521.0
7277     494.0
8630     478.0
9983     469.0
11336    466.0
12689    450.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1043', '401-1033', '406-1038', '396-1038', '406-1043', '406-1033', '396-1043', '396-1033']
<class 'pandas.core.series.Series'>
515      933.0
1868     936.0
3221     918.0
4574     920.0
5927     907.0
7280     886.0
8633     873.0
9986     861.0
11339    857.0
12692    856.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1046', '401-1036', '406-1041', '396-1041', '406-1046', '406-1036', '396-1046', '396-1036']
<class 'pandas.core.series.Series'>
518      521.0
1871     518.0
3224     513.0
4577     504.0
5930     501.0
7283     500.0
8636     497.0
9989     492.0
11342    488.0
12695    483.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1038', '401-1028', '406-1033', '396-1033', '406-1038', '406-1028', '396-1038', '396-1028']
<class 'pandas.core.series.Series'>
510      687.0
1863     689.0
3216     686.0
4569     677.0
5922     669.0
7275     642.0
8628     626.0
9981     618.0
11334    614.0
12687    599.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1034', '401-1024', '406-1029', '396-1029', '406-1034', '406-1024', '396-1034', '396-1024']
<class 'pandas.core.series.Series'>
506      544.0
1859     549.0
3212     548.0
4565     548.0
5918     548.0
7271     551.0
8624     553.0
9977     554.0
11330    557.0
12683    557.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['401-1037', '401-1027', '406-1032', '396-1032', '406-1037', '406-1027', '396-1037', '396-1027']
<class 'pandas.core.series.Series'>
509      518.0
1862     523.0
3215     526.0
4568     526.0
5921     520.0
7274     501.0
8627     494.0
9980     489.0
11333    484.0
12686    478.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1048', '402-1038', '407-1043', '397-1043', '407-1048', '407-1038', '397-1048', '397-1038']
<class 'pandas.core.series.Series'>
561      656.0
1914     652.0
3267     645.0
4620     640.0
5973     645.0
7326     634.0
8679     632.0
10032    630.0
11385    632.0
12738    626.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1044', '402-1034', '407-1039', '397-1039', '407-1044', '407-1034', '397-1044', '397-1034']
<class 'pandas.core.series.Series'>
557      830.0
1910     831.0
3263     822.0
4616     820.0
5969     806.0
7322     786.0
8675     769.0
10028    757.0
11381    756.0
12734    752.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1038', '402-1028', '407-1033', '397-1033', '407-1038', '407-1028', '397-1038', '397-1028']
<class 'pandas.core.series.Series'>
551      453.0
1904     457.0
3257     454.0
4610     451.0
5963     444.0
7316     429.0
8669     418.0
10022    412.0
11375    409.0
12728    402.0
Name: nr_people, dtype: float64
nan
nan

nan
nan
nan
nan
nan
nan
['402-1040', '402-1030', '407-1035', '397-1035', '407-1040', '407-1030', '397-1040', '397-1030']
<class 'pandas.core.series.Series'>
553      643.0
1906     649.0
3259     640.0
4612     637.0
5965     625.0
7318     599.0
8671     583.0
10024    574.0
11377    569.0
12730    558.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1042', '402-1032', '407-1037', '397-1037', '407-1042', '407-1032', '397-1042', '397-1032']
<class 'pandas.core.series.Series'>
555      696.0
1908     699.0
3261     687.0
4614     689.0
5967     676.0
7320     654.0
8673     640.0
10026    630.0
11379    625.0
12732    620.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['402-1036', '402-1026', '407-1031', '397-1031', '407-1036', '407-1026', '397-1036', '397-1026']
<class 'pandas.core.series.Series'>
549      634.0
1902     638.0
3255     638.0
4608     638.0
5961     640.0
7314     647.0
8667     651.0
10020    652.0
11373    653.0
12726    655.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1048', '403-1038', '408-1043', '398-1043', '408-1048', '408-1038', '398-1048', '398-1038']
<class 'pandas.core.series.Series'>
602      632.0
1955     630.0
3308     625.0
4661     623.0
6014     629.0
7367     619.0
8720     617.0
10073    616.0
11426    615.0
12779    609.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1036', '403-1026', '408-1031', '398-1031', '408-1036', '408-1026', '398-1036', '398-1026']
<class 'pandas.core.series.Series'>
590      569.0
1943     572.0
3296     570.0
4649     571.0
6002     571.0
7355     579.0
8708     585.0
10061    585.0
11414    586.0
12767    588.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1039', '403-1029', '408-1034', '398-1034', '408-1039', '408-1029', '398-1039', '398-1029']
<class 'pandas.core.series.Series'>
593      456.0
1946     461.0
3299     457.0
4652     457.0
6005     449.0
7358     436.0
8711     426.0
10064    420.0
11417    417.0
12770    411.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1041', '403-1031', '408-1036', '398-1036', '408-1041', '408-1031', '398-1041', '398-1031']
<class 'pandas.core.series.Series'>
595      638.0
1948     642.0
3301     633.0
4654     634.0
6007     622.0
7360     602.0
8713     588.0
10066    580.0
11419    573.0
12772    567.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1042', '403-1032', '408-1037', '398-1037', '408-1042', '408-1032', '398-1042', '398-1032']
<class 'pandas.core.series.Series'>
596      636.0
1949     639.0
3302     633.0
4655     632.0
6008     622.0
7361     607.0
8714     594.0
10067    585.0
11420    582.0
12773    578.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['403-1044', '403-1034', '408-1039', '398-1039', '408-1044', '408-1034', '398-1044', '398-1034']
<class 'pandas.core.series.Series'>
598      870.0
1951     872.0
3304     863.0
4657     863.0
6010     848.0
7363     828.0
8716     810.0
10069    798.0
11422    795.0
12775    789.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1041', '404-1031', '409-1036', '399-1036', '409-1041', '409-1031', '399-1041', '399-1031']
<class 'pandas.core.series.Series'>
636      875.0
1989     881.0
3342     874.0
4695     876.0
6048     862.0
7401     835.0
8754     819.0
10107    807.0
11460    799.0
12813    790.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1042', '404-1032', '409-1037', '399-1037', '409-1042', '409-1032', '399-1042', '399-1032']
<class 'pandas.core.series.Series'>
637      1017.0
1990     1022.0
3343     1015.0
4696     1016.0
6049     1000.0
7402      971.0
8755      952.0
10108     937.0
11461     929.0
12814     919.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1043', '404-1033', '409-1038', '399-1038', '409-1043', '409-1033', '399-1043', '399-1033']
<class 'pandas.core.series.Series'>
638      641.0
1991     645.0
3344     639.0
4697     639.0
6050     628.0
7403     610.0
8756     596.0
10109    586.0
11462    582.0
12815    576.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1045', '404-1035', '409-1040', '399-1040', '409-1045', '409-1035', '399-1045', '399-1035']
<class 'pandas.core.series.Series'>
640      518.0
1993     518.0
3346     516.0
4699     517.0
6052     507.0
7405     489.0
8758     475.0
10111    467.0
11464    462.0
12817    454.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1047', '404-1037', '409-1042', '399-1042', '409-1047', '409-1037', '399-1047', '399-1037']
<class 'pandas.core.series.Series'>
642      645.0
1995     640.0
3348     637.0
4701     639.0
6054     637.0
7407     633.0
8760     631.0
10113    629.0
11466    627.0
12819    623.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['404-1040', '404-1030', '409-1035', '399-1035', '409-1040', '409-1030', '399-1040', '399-1030']
<class 'pandas.core.series.Series'>
635      446.0
1988     450.0
3341     446.0
4694     446.0
6047     438.0
7400     424.0
8753     415.0
10106    410.0
11459    407.0
12812    401.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1041', '409-1031', '414-1036', '404-1036', '414-1041', '414-1031', '404-1041', '404-1031']
<class 'pandas.core.series.Series'>
841      513.0
2194     509.0
3547     513.0
4900     510.0
6253     513.0
7606     520.0
8959     524.0
10312    527.0
11665    528.0
13018    530.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1042', '409-1032', '414-1037', '404-1037', '414-1042', '414-1032', '404-1042', '404-1032']
<class 'pandas.core.series.Series'>
842      390.0
2195     387.0
3548     391.0
4901     388.0
6254     391.0
7607     396.0
8960     399.0
10313    401.0
11666    402.0
13019    404.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1043', '409-1033', '414-1038', '404-1038', '414-1043', '414-1033', '404-1043', '404-1033']
<class 'pandas.core.series.Series'>
843      402.0
2196     397.0
3549     397.0
4902     398.0
6255     397.0
7608     403.0
8961     401.0
10314    404.0
11667    408.0
13020    411.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1045', '409-1035', '414-1040', '404-1040', '414-1045', '414-1035', '404-1045', '404-1035']
<class 'pandas.core.series.Series'>
845      105.0
2198     105.0
3551     105.0
4904     105.0
6257     105.0
7610     108.0
8963     108.0
10316    108.0
11669    111.0
13022    112.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1047', '409-1037', '414-1042', '404-1042', '414-1047', '414-1037', '404-1047', '404-1037']
<class 'pandas.core.series.Series'>
847      174.0
2200     174.0
3553     174.0
4906     175.0
6259     176.0
7612     178.0
8965     178.0
10318    178.0
11671    181.0
13024    182.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['409-1040', '409-1030', '414-1035', '404-1035', '414-1040', '414-1030', '404-1040', '404-1030']
<class 'pandas.core.series.Series'>
840      497.0
2193     494.0
3546     498.0
4899     495.0
6252     498.0
7605     504.0
8958     510.0
10311    512.0
11664    513.0
13017    514.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1041', '408-1031', '413-1036', '403-1036', '413-1041', '413-1031', '403-1041', '403-1031']
<class 'pandas.core.series.Series'>
800      540.0
2153     536.0
3506     541.0
4859     537.0
6212     541.0
7565     548.0
8918     553.0
10271    556.0
11624    557.0
12977    559.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1042', '408-1032', '413-1037', '403-1037', '413-1042', '413-1032', '403-1042', '403-1032']
<class 'pandas.core.series.Series'>
801      499.0
2154     495.0
3507     499.0
4860     498.0
6213     500.0
7566     510.0
8919     511.0
10272    512.0
11625    516.0
12978    518.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1043', '408-1033', '413-1038', '403-1038', '413-1043', '413-1033', '403-1043', '403-1033']
<class 'pandas.core.series.Series'>
802      372.0
2155     369.0
3508     369.0
4861     373.0
6214     373.0
7567     383.0
8920     382.0
10273    383.0
11626    386.0
12979    392.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1045', '408-1035', '413-1040', '403-1040', '413-1045', '413-1035', '403-1045', '403-1035']
<class 'pandas.core.series.Series'>
804      261.0
2157     263.0
3510     261.0
4863     263.0
6216     263.0
7569     272.0
8922     270.0
10275    271.0
11628    277.0
12981    282.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1047', '408-1037', '413-1042', '403-1042', '413-1047', '413-1037', '403-1047', '403-1037']
<class 'pandas.core.series.Series'>
806      411.0
2159     410.0
3512     409.0
4865     411.0
6218     413.0
7571     418.0
8924     416.0
10277    417.0
11630    422.0
12983    426.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['408-1040', '408-1030', '413-1035', '403-1035', '413-1040', '413-1030', '403-1040', '403-1030']
<class 'pandas.core.series.Series'>
799      423.0
2152     422.0
3505     426.0
4858     424.0
6211     428.0
7564     432.0
8917     441.0
10270    442.0
11623    443.0
12976    444.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1040', '407-1030', '412-1035', '402-1035', '412-1040', '412-1030', '402-1040', '402-1030']
<class 'pandas.core.series.Series'>
758      499.0
2111     498.0
3464     503.0
4817     501.0
6170     506.0
7523     510.0
8876     521.0
10229    523.0
11582    523.0
12935    524.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1042', '407-1032', '412-1037', '402-1037', '412-1042', '412-1032', '402-1042', '402-1032']
<class 'pandas.core.series.Series'>
760      493.0
2113     493.0
3466     495.0
4819     497.0
6172     498.0
7525     497.0
8878     495.0
10231    493.0
11584    493.0
12937    493.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1044', '407-1034', '412-1039', '402-1039', '412-1044', '412-1034', '402-1044', '402-1034']
<class 'pandas.core.series.Series'>
762      361.0
2115     360.0
3468     360.0
4821     365.0
6174     366.0
7527     377.0
8880     377.0
10233    378.0
11586    382.0
12939    388.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1046', '407-1036', '412-1041', '402-1041', '412-1046', '412-1036', '402-1046', '402-1036']
<class 'pandas.core.series.Series'>
764      366.0
2117     367.0
3470     366.0
4823     368.0
6176     368.0
7529     374.0
8882     372.0
10235    374.0
11588    376.0
12941    380.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1047', '407-1037', '412-1042', '402-1042', '412-1047', '412-1037', '402-1047', '402-1037']
<class 'pandas.core.series.Series'>
765      422.0
2118     423.0
3471     423.0
4824     425.0
6177     426.0
7530     430.0
8883     426.0
10236    427.0
11589    429.0
12942    431.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['407-1041', '407-1031', '412-1036', '402-1036', '412-1041', '412-1031', '402-1041', '402-1031']

<class 'pandas.core.series.Series'>
759      444.0
2112     443.0
3465     447.0
4818     446.0
6171     450.0
7524     450.0
8877     456.0
10230    456.0
11583    455.0
12936    454.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1036', '405-1026', '410-1031', '400-1031', '410-1036', '410-1026', '400-1036', '400-1026']
<class 'pandas.core.series.Series'>
672      629.0
2025     629.0
3378     629.0
4731     630.0
6084     632.0
7437     638.0
8790     645.0
10143    646.0
11496    646.0
12849    649.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1037', '405-1027', '410-1032', '400-1032', '410-1037', '410-1027', '400-1037', '400-1027']
<class 'pandas.core.series.Series'>
673      666.0
2026     666.0
3379     668.0
4732     669.0
6085     671.0
7438     679.0
8791     688.0
10144    690.0
11497    689.0
12850    692.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1039', '405-1029', '410-1034', '400-1034', '410-1039', '410-1029', '400-1039', '400-1029']
<class 'pandas.core.series.Series'>
675      416.0
2028     415.0
3381     417.0
4734     417.0
6087     418.0
7440     422.0
8793     426.0
10146    426.0
11499    424.0
12852    424.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1041', '405-1031', '410-1036', '400-1036', '410-1041', '410-1031', '400-1041', '400-1031']
<class 'pandas.core.series.Series'>
677      522.0
2030     526.0
3383     524.0
4736     526.0
6089     520.0
7442     504.0
8795     496.0
10148    490.0
11501    485.0
12854    480.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1043', '405-1033', '410-1038', '400-1038', '410-1043', '410-1033', '400-1043', '400-1033']
<class 'pandas.core.series.Series'>
679      454.0
2032     459.0
3385     456.0
4738     457.0
6091     452.0
7444     436.0
8797     428.0
10150    421.0
11503    418.0
12856    413.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['405-1047', '405-1037', '410-1042', '400-1042', '410-1047', '410-1037', '400-1047', '400-1037']
<class 'pandas.core.series.Series'>
683      482.0
2036     480.0
3389     481.0
4742     486.0
6095     483.0
7448     484.0
8801     480.0
10154    478.0
11507    473.0
12860    474.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1039', '406-1029', '411-1034', '401-1034', '411-1039', '411-1029', '401-1039', '401-1029']
<class 'pandas.core.series.Series'>
716      596.0
2069     594.0
3422     599.0
4775     596.0
6128     603.0
7481     608.0
8834     620.0
10187    621.0
11540    621.0
12893    623.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1036', '406-1026', '411-1031', '401-1031', '411-1036', '411-1026', '401-1036', '401-1026']
<class 'pandas.core.series.Series'>
713      532.0
2066     532.0
3419     533.0
4772     534.0
6125     535.0
7478     540.0
8831     546.0
10184    548.0
11537    547.0
12890    549.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1038', '406-1028', '411-1033', '401-1033', '411-1038', '411-1028', '401-1038', '401-1028']
<class 'pandas.core.series.Series'>
715      538.0
2068     536.0
3421     541.0
4774     539.0
6127     543.0
7480     548.0
8833     557.0
10186    559.0
11539    558.0
12892    561.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1040', '406-1030', '411-1035', '401-1035', '411-1040', '411-1030', '401-1040', '401-1030']
<class 'pandas.core.series.Series'>
717      614.0
2070     614.0
3423     619.0
4776     619.0
6129     625.0
7482     623.0
8835     633.0
10188    633.0
11541    632.0
12894    629.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1044', '406-1034', '411-1039', '401-1039', '411-1044', '411-1034', '401-1044', '401-1034']
<class 'pandas.core.series.Series'>
721      422.0
2074     426.0
3427     426.0
4780     431.0
6133     427.0
7486     412.0
8839     404.0
10192    398.0
11545    396.0
12898    390.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
['406-1045', '406-1035', '411-1040', '401-1040', '411-1045', '411-1035', '401-1045', '401-1035']
<class 'pandas.core.series.Series'>
722      373.0
2075     375.0
3428     376.0
4781     379.0
6134     372.0
7487     356.0
8840     347.0
10193    342.0
11546    336.0
12899    333.0
Name: nr_people, dtype: float64
nan
nan
nan
nan
nan
nan
nan
nan
5 nan